[2013-06-14 22:57] Maurier opened #1 "Test issue, please ignore"
GitHub is nice!

[2013-06-14 22:58] #1 closed, assigned to Maurier

[2013-06-14 23:01] Maurier opened #2 "Field losing style"
In create New Deployment/Calibration the site visit field loses css properties after its date filter has been used.

[2013-06-14 23:03] Maurier opened #3 "Add border radius to text fields"
Add border radius to text fields so they match the select boxes.

[2013-06-14 23:05] Maurier opened #4 "Equipment Serial Number"
I'm using the serial number to select which equipment to apply a factory service event. Is this field supposed to be unique? If not, we'll have to come up with a better way to select the equipment.

[2013-06-14 23:07] Maurier opened #5 "Can't access files"
Can't access files or images stored by Drupal

[2013-06-17 18:35] jcaraballo17 opened #6 "Create Edit Functionality"

[2013-06-24 14:31] #5 closed, assigned to jcaraballo17

[2013-08-26 17:25] #6 closed, assigned to jcaraballo17

[2013-08-26 17:25] #4 closed, assigned to horsburgh

[2013-08-26 17:25] #3 closed, assigned to jcaraballo17

[2013-08-26 17:28] Maurier opened #7 "Adding a manufacturer"
If I am adding/editing a piece of equipment, I can add a new Vendor, but not a new
Manufacturer.

[2013-08-26 17:31] Maurier opened #8 "UTC Offset"
For the UTC offset, include an indicator of the associated time zone (i.e., MST, MDT, CST, etc.)?

[2013-08-26 17:34] Maurier opened #9 "Equipment Header"
"Equipment" header should have links to "Manage Sensor Output Variables" and "Manage Equipment Models". It seems more intuitive to have them there rather than solely in the Vocabularies area.

[2013-08-26 17:35] Maurier opened #10 "Add things in bulk"
We need to figure out a way to add things in bulk ... multiple vocabulary entries, multiple pieces of equipment in a deployment, multiple sensor output variables, etc.

[2013-08-26 17:39] Maurier opened #11 "Delete Deployment"
When deleting a deployment, its deployment measured variables are not being deleted.

[2013-08-26 17:49] Maurier opened #12 "New filtering scripts"
Drupal's filters are very slow because it pulls data from the database every time. We need our own java script to filter.

[2013-08-26 17:55] Maurier opened #13 "Performance"

[2013-08-26 18:01] Maurier opened #14 "Filters in Control Vocabularies page redirect to another page"
Happens because we have disabled its ajax call. It conflicts with our sorting script. Instead, we are going to develop a new filter script.

[2013-08-26 18:02] #13 closed, assigned to jcaraballo17

[2013-08-28 15:20] #11 closed, assigned to jcaraballo17

[2013-08-30 23:31] #7 closed, assigned to horsburgh

[2013-08-30 23:31] #12 closed, assigned to jcaraballo17

[2013-08-30 23:31] #14 closed, assigned to nobody

[2013-08-30 23:41] Maurier opened #15 "Vendor table header"
In Control Vocabularies>Vendor, the table head is not aligned with the table body.
Note: This problem disappears after the filter is used.

[2013-09-03 16:00] Maurier opened #16 "Fix infobox overflow"
In site visit details, fix the infobox overflow problem.

[2013-09-03 16:00] Maurier opened #17 "Image Viewer - Next"
The Next button is not shown.

[2013-09-03 16:02] Maurier opened #18 "Image Viewer - Loading label"
Put the label in a fixed position

[2013-09-03 16:05] #9 closed, assigned to jcaraballo17

[2013-09-04 14:57] #16 closed, assigned to jcaraballo17

[2013-09-04 15:23] #17 closed, assigned to Maurier

[2013-09-04 15:23] #18 closed, assigned to Maurier

[2013-09-04 15:55] Maurier opened #19 "Deleting Message"
clear the messages before displaying a new message. Use drupal_get_messages()

[2013-09-04 16:01] Maurier opened #20 "Calibration Standard Type"
Field 'Term' needs custom validation rules.

[2013-09-04 16:34] #20 closed, assigned to Maurier

[2013-09-04 17:33] Maurier opened #21 "Links redirect to path not found"
In vendor details, equipment model details, etc

[2013-09-04 17:33] #21 closed, assigned to Maurier

[2013-09-05 14:45] Maurier opened #22 "When adding elevation, it only retains the first digit of the elevation value."

[2013-09-05 14:47] Maurier opened #23 "Thank You. Your submission has been saved"
When some fields, i.e Site Name, have the character '

[2013-09-06 18:33] #22 closed, assigned to nobody

[2013-09-06 23:18] #23 closed, assigned to Maurier

[2013-09-06 23:47] Maurier opened #24 "Google map not showing when Site Name has character ' or ""

[2013-09-06 23:52] #15 closed, assigned to jcaraballo17

[2013-09-09 14:49] #8 closed, assigned to nobody

[2013-09-09 21:16] #2 closed, assigned to jcaraballo17

[2013-09-09 21:33] #19 closed, assigned to jcaraballo17

[2013-09-09 22:12] #24 closed, assigned to jcaraballo17

[2013-09-10 15:39] Maurier opened #25 "Allow authenticated users to access vocabularies page."

[2013-09-10 15:46] #25 closed, assigned to nobody

[2013-09-12 16:12] Maurier opened #26 "Craete form and view to manage Vertical Datums"
In progress

[2013-09-16 22:41] #26 closed, assigned to Maurier

[2013-09-18 14:35] AmberSJones opened #27 "Column Alignment on "Deployments" page"
The column headers overlap the sorting arrows on the "Deployments" page. It may occur on other pages, too.

[2013-09-18 14:49] AmberSJones opened #28 "Site Visit Date Times should restrict Child Action Date Times"
Should a deployment begin date be the same date as the site visit that the deployment occurred? Also, why is there no time on the Deployment begin date?

[2013-09-18 14:50] AmberSJones opened #29 "Filters on Deployment Page"
What is the purpose of the filters on the deployment page?

[2013-09-18 15:44] AmberSJones opened #30 "Deployment Measured Variables Issue"
In trying to create a new variable within the calibrations page, I can create a new Measured Variable, but not a new Variable. What is the different between these two?

[2013-09-18 17:13] #27 closed, assigned to Maurier

[2013-09-18 17:23] mauriel133 opened #31 "Filtering records with empty fields"
The table headers are not aligned with the body when filtering records with empty fields.

[2013-09-18 20:15] AmberSJones opened #32 "Un-Deploy"
Currently, the only way to "un-deploy" a piece of equipment is to edit the deployment and add an end date. We need to have "un-deploy" as a field activity that links back to the original deployment.

[2013-09-19 15:18] #29 closed, assigned to Maurier

[2013-09-23 16:20] #30 closed, assigned to Maurier

[2013-10-01 16:23] AmberSJones opened #33 ""No content found" details"
When there is no content on a page (like Site Visits, Deployments, etc.), the "No content found" should be immediately underneath the page title.

Also, could we remove the Keyword search box when there is no content?

[2013-10-01 16:25] AmberSJones opened #34 ""Add New" under "Crew""
On the Site Visit page, could we implement an "Add New" person as part of the Crew box?

[2013-10-01 22:25] AmberSJones opened #35 "Parent Activities"
Field Activities/Calibrations/Deployments should have a link to the parent activity (Site Visit)

[2013-10-01 22:47] AmberSJones opened #36 "Rules for Calibrations"
Should we restrict the Site Visit selection based on the Equipment selected for a calibration (or alternatively restrict the Equipment selected based on the Site Visit selection)? Because a piece of equipment would only have been at one site at a time...

[2013-10-02 14:01] AmberSJones opened #37 "Need to be able to add Measured Variables to Deployments"
When a Deployment is added or edited, there is no longer functionality to add a Measured Variable (or multiple measured variables) to the deployment.

[2013-10-02 17:27] Maurier opened #38 "Deleting a deployment"
When deleting a deployment, do we need to delete all DeploymentMeasuredVariables associated with it? Keep in mind that a Calibration might be associated with this DeploymentMeasuredVariables and would need to be deleted too.

[2013-10-02 18:50] #35 closed, assigned to Maurier

[2013-10-02 22:43] AmberSJones opened #39 "Field Activity Details Links"
On the Field Activity Details page, if the activity is a Deployment or a Calibration, there should be a link to the Deployment Details or Calibration Details.

[2013-10-02 23:04] AmberSJones opened #40 "Unable to Delete Variable"
I am unable to delete a Sensor Output Variable. WHen I attempt to do so, it takes me to a page that says "The requested page "/gamutmanagement/administer-data" could not be found."

[2013-10-03 03:31] AmberSJones opened #41 "Length of Variable Name"
The "Variable Name" field in Sensor Output Variables should be increased to 255 characters.

[2013-10-03 22:35] Maurier opened #42 "Chrome CSS"
The CSS shows errors for me on chrome version 30.0.1599.69 m

[2013-10-04 15:16] #37 closed, assigned to Maurier

[2013-10-04 17:41] #40 closed, assigned to jcaraballo17

[2013-10-04 19:33] #39 closed, assigned to Maurier

[2013-10-04 21:20] #36 closed, assigned to Maurier

[2013-10-04 23:06] #32 closed, assigned to horsburgh

[2013-10-07 12:34] AmberSJones opened #43 "Add Site Visit from Sites Page"
Could we include a link to add a "New Site Visit" to the "Site Details" page? Preferably next to the "View Site Visits" link.

[2013-10-07 12:58] AmberSJones opened #44 "Searching Equipment Serial Number"
There are some issues when searching the Equipment list. When I type in a serial number, it sometimes returns no results (for example, 12800, 1811, 53255).

[2013-10-07 13:05] AmberSJones opened #45 "Sensor Output Variable Selection"
For Sensor Output Variables, there are several instances where the Variable Names is duplicated between records but distinguished by the variable code (this isn't a problem- it is intentional). When selecting a Sensor Output Variable as a Deployment Measured Variable, the selection list needs to distinguish between these variables with identical variable names. I would suggest including both Varia

[2013-10-07 13:13] AmberSJones opened #46 "Column Header Alignment"
There are some places on the site where the alignment of the column headers does not match up with the fields below. See this screenshot:

![image](https://f.cloud.github.com/assets/5023186/1280439/2c1fa616-2f52-11e3-807e-b5f3b3dde61a.png)

[2013-10-07 13:20] AmberSJones opened #47 "Deleting an Equipment Model"
I am unable to delete an Equipment Model. I don't get an error, but the "Delete" button doesn't seem to do anything.

[2013-10-07 13:28] AmberSJones opened #48 "Equipment Model page title"
The title of the page for an equipment model should be "Equipment Model Details" instead of "Detailed Equipment Model".

[2013-10-07 17:14] AmberSJones opened #49 "Users Getting Removed?!"
I have added the technicians as authenticated users twice and their accounts keep getting removed? We need to address this urgently!

[2013-10-07 17:59] AmberSJones opened #50 "Menu Items realigning"
When the page is opened in a small window, there are issues with the wrapping and alignment of the menu items. This causes some links on the dropdowns to be unavailable.
![image](https://f.cloud.github.com/assets/5023186/1282785/3cc3e7d4-2f7a-11e3-90c0-d611cb3aaf5f.png)

[2013-10-07 22:15] #49 closed, assigned to Maurier

[2013-10-07 22:21] #48 closed, assigned to jcaraballo17

[2013-10-07 22:22] #50 closed, assigned to jcaraballo17

[2013-10-10 15:55] #42 closed, assigned to Maurier

[2013-10-10 18:01] AmberSJones opened #51 "Distinguishing Deployments when Creating Deployment Measured Variables"
When creating a deployment measured variable, deployments of various instruments on the same date/time appear identical. Need to include the Model Name and Serial Number along with the Site and DateTime of the deployment.

![image](https://f.cloud.github.com/assets/5023186/1308846/7da88b94-31d5-11e3-8bd3-6afd88dcb4c9.png)

[2013-10-10 18:05] #47 closed, assigned to jcaraballo17

[2013-10-16 23:40] Maurier opened #52 "Internet Explorer"
The interface is out of control for some older versions of Internet Explorer. We should specify somewhere that these are not supported for now.

[2013-10-28 15:47] Maurier opened #53 "Posible JQuery injection"
![untitled](https://f.cloud.github.com/assets/2448568/1421083/434765bc-3fe8-11e3-8d3d-c3b8293c64d3.png)

[2013-10-28 17:42] #53 closed, assigned to nobody

[2013-11-04 22:43] #51 closed, assigned to Maurier

[2013-11-04 22:44] #43 closed, assigned to Maurier

[2013-11-04 22:44] #41 closed, assigned to Maurier

[2013-12-16 18:43] AmberSJones opened #54 "Date/Times of Field Activities Should Correspond to Parent Site Visit"
The technicians have requested that the default date/time for a field activity be set to the date/time of the corresponding site visit.

Furthermore, I think that a field activity data/time should be restricted/required to be within the start and end date/time of the site visit.

[2013-12-16 18:51] AmberSJones opened #55 "Restrict active deployment to a single site"
Currently, it is possible to deploy a piece of equipment at multiple sites without first retrieving it. It should be constrained so that a piece of equipment can only be actively deployed at one site at a time.

[2013-12-16 18:59] AmberSJones opened #56 ""Add New Deployment" button"
As an intermediate step to being able to do a bulk upload, we need to facilitate the deployment of many pieces of equipment at once. We need to implement a convenient "Deploy New Equipment" button either 1. In the header, or 2. On the "Deployment Details" page that appears after the creation of a new deployment.

[2014-01-06 17:29] mauriel133 opened #57 "Sorting by Date in Deployment page"
Sorting is not working properly for the Date field on the Deployment table.

[2014-01-07 23:17] AmberSJones opened #58 "Facilitate Addition of Deployment Measured Variables"
This is somewhat urgent.

We need to better integrate the addition of Deployment Measured Variables when a Deployment is entered. Currently, it is not obvious that Deployment Measured Variables should be added when a sensor is deployed.

This could be facilitated in several ways. For iUTAH, because each sensor is generally measuring the same variables, I suggest that when a sensor is deployed, all

[2014-01-07 23:19] AmberSJones opened #59 "UTC Offset Default"
Can we have the UTC Offset always default to -7?

[2014-01-07 23:23] AmberSJones opened #60 "Bulk Edit"
There are some equipment details that need to be edited in bulk. The technicians and I don't have access to the underlaying database. What is the best thing to do? Should I get access to the database, or should we send you a simple list of changes, or is there a way that bulk edit could be implemented in the interface?

One example: the owner of many sensors needs to be changed. It would be very t

[2014-01-31 18:19] AmberSJones opened #61 "Explicitly Add Stage Reading as Part of Site Visit"
The technicians have requested that we add a field for "Stage Reading" to site visits for aquatic sites. I see the utility and benefit of this, but I am unsure how it would fit into the underlying data model.

[2014-01-31 18:22] AmberSJones opened #62 "Character length of Field Activity Description"
What is the character length limit of Field Activity Description? We've had requests to increase it.

[2014-02-05 20:30] AmberSJones opened #63 "Model Specifications Files"
The links to the model specifications files aren't working (see the screenshot). Are these files still on the server? Are they easy to point to or should the technician load the spec sheets manually?

![image](https://f.cloud.github.com/assets/5023186/2091821/4a96800e-8ea4-11e3-9d00-8ea596f2cfa1.png)

[2014-02-05 20:33] AmberSJones opened #64 "Photo vs. File"
The technicians want to add a document (a calibration certificate) for some pieces of equipment. Can they use the Add Photo functionality for creating/editing equipment? If so, can we change the name of the field to "File or Photo"?

[2014-02-20 22:14] AmberSJones opened #65 "Unable to create a new deployment for a sensor that has been retrieved"
When an equipment is deployed and then retrieved, it needs to be available to deploy again. The equipment does not appear in the list available for selection. Example: serial number 12L100516

[2014-03-03 18:48] AmberSJones opened #66 "MAJOR BUG- all deployment measured variables are linking to the same deployment"
This behavior appears to be new, and I am not sure how/why it is happening. Every single 'deployment measured variable' links to the same (incorrect) variable and (incorrect) deployment shown in the below screen shots.

![image](https://f.cloud.github.com/assets/5023186/2313067/3fbeee90-a304-11e3-8d67-2cc8102f5d0d.png)

![image](https://f.cloud.github.com/assets/5023186/2313093/84fe9b90-a304-11e3-

[2014-03-04 19:01] #66 closed, assigned to Maurier

[2014-04-14 17:49] #52 closed, assigned to Maurier

[2014-04-17 18:59] #63 closed, assigned to Maurier

[2014-04-17 19:01] #59 closed, assigned to Maurier

[2014-04-17 19:08] mauriel133 opened #67 "Deletion of previous files when field is empty"
Previously uploaded files are deleted if the fields are empty in a new submission.
TODO: check if a previous file exists when the field is empty, if so use that instead.

[2014-04-18 12:48] #45 closed, assigned to Maurier

[2014-05-09 01:55] #60 closed, assigned to Maurier

[2014-05-09 01:57] #61 closed, assigned to horsburgh

[2014-05-09 02:31] #55 closed, assigned to Maurier

[2014-05-09 02:41] #56 closed, assigned to Maurier

[2014-05-09 11:53] AmberSJones opened #68 "'Deployed Equipment' not populated on Create New Calibration form"
Users are unable to perform a calibration because the Deployed Equipment field is not populating at all:

![image](https://cloud.githubusercontent.com/assets/5023186/2927695/837968cc-d770-11e3-9b3b-2b67e2e20cff.png)

[2014-05-09 11:56] AmberSJones opened #69 "Better Handling for Calibrations for Multiple Standards"
We need to think about how to better handle calibrations that involve two or three calibration standards (e.g., pH). It is onerous to expect a user to enter a new calibration for each of the standards used. I'm thinking an implementation similar to the repeatable variables that we're using on ckan.

[2014-05-09 12:03] AmberSJones opened #70 "'Add New Site Visit' button on Site Visit Details page"
The technicians have requested the addition of an 'Add New Site Visit' button on the Site Visit Details page. This will facilitate the addition of multiple site visits at once. When implemented, it should auto-populate the site information from the site visit from which it was created.

[2014-05-09 12:05] AmberSJones opened #71 "Performance"
There is a lot of slowness on the site- every click takes at least 4 seconds to load. How can we improve performance? This has been a recurring complaint of the technicians.

[2014-05-09 12:14] AmberSJones opened #72 "Duplicate 'Measured Variables' on the Create New Calibration form"
On the Create New Calibration form, the 'Measured Variable' dropdown shows duplicates on selection options. This is not the case in other instances where the variable list appears.
![image](https://cloud.githubusercontent.com/assets/5023186/2927804/f3045718-d772-11e3-84f5-5ca3babf583b.png)

[2014-05-09 12:26] AmberSJones opened #73 "Auto-population on Create New Calibration form"
There is an opportunity to streamline the creation of a calibration by auto-populating some of the fields on the Create New Calibration form:
1. The 'Deployed Equipment' field should populate with the equipment deployed at the site when the site visit occurred.
2. The 'Measured Variable' field should populate with the variable(s) associated with the equipment selected.

[2014-05-12 12:11] #72 closed, assigned to Maurier

[2014-05-12 12:13] #68 closed, assigned to Maurier

[2015-04-13 22:30] AmberSJones opened #74 "Paging is a bit tedious"
The paging is tedious- there are too many pages. I think we either need to:
1. Allow scrolling within the lists on the views, or
2. Make the default number of entries higher- maybe 50.

[2015-04-13 22:33] AmberSJones opened #75 "Sorting by Date is not being done correctly"
Sorting by date is done being done correctly- either up or down sorting.
![image](https://cloud.githubusercontent.com/assets/5023186/7126907/d3e7a0fe-e1fa-11e4-9380-6bb089e93a75.png)

[2015-04-13 22:35] AmberSJones opened #76 "Buttons not aligned"
Buttons are not aligned on the Site Visit detail page:
![image](https://cloud.githubusercontent.com/assets/5023186/7126949/24ba103e-e1fb-11e4-8762-22f01842df91.png)

Also on Deployment detail page:
![image](https://cloud.githubusercontent.com/assets/5023186/7127376/883fe084-e200-11e4-9fa1-c5f1d7989f7c.png)

[2015-04-13 22:39] AmberSJones opened #77 "'Notes' should all be removed"
All cases of 'Notes' should be removed- Site Visit Notes, Equipment Notes, etc. etc.

[2015-04-13 22:43] AmberSJones opened #78 "Next & Previous buttons should be made functional"
All cases of Next and Previous buttons should be made functional

![image](https://cloud.githubusercontent.com/assets/5023186/7127051/2b57aa2c-e1fc-11e4-8eee-361fd2f44be2.png)

[2015-04-13 22:45] AmberSJones opened #79 "Field Activity from Site Visit incorrect"
Clicking on a Field Activity from a Site Visit detail page brings up the same details as for the Site Visit.

[2015-04-13 22:46] AmberSJones opened #80 "Times seem wrong"
A lot of the times seems unfeasible- 3 am for a Site Visit, etc. I need to first check if these are correct (or not) in the database.

[2015-04-13 22:52] AmberSJones opened #81 "Owner Needs to Be Full Name"
In all cases where 'Owner' is displayed, it should display the full name. Most cases do, but on the Deployment Details page, only the first name is shown:
![image](https://cloud.githubusercontent.com/assets/5023186/7127164/699dfaba-e1fd-11e4-811a-0ee4d8c21833.png)

[2015-04-13 23:13] AmberSJones opened #82 "Remove fields"
We won't be using the following fields on the Deployment Details page:

Equipment Notes
Deployment Type
Deployment Notes
Horizontal and Vertical Offset information
Deployment Schematic
Parent Equipment

There will be a few fields to add- I will work on getting that list.

[2015-04-13 23:24] AmberSJones opened #83 "Cases where Field Activity and Site Visit do not align"
There are some cases where clicking on the 'Go to Site Visit' from a Deployment, Calibration, or other Field Activity detail page takes you to the incorrect Site Visit. Here's an example:

Calibration Detail: http://django.uwrl.usu.edu/equipment/calibration-detail/607/ links to Site Visit: http://django.uwrl.usu.edu/equipment/visit-detail/121/

These are completely different sites, so they can't b

[2015-04-13 23:27] AmberSJones opened #84 "Types of Field Activities"
The Field Activities list should not include Deployments, Calibrations, or Site Visits. It should only include other types of field activities.

[2015-04-13 23:32] AmberSJones opened #85 "Some cases of incorrect related actions"
Here's another case of actions incorrectly related:
Site Visit: http://django.uwrl.usu.edu/equipment/visit-detail/174/ clicked on a 'Calibration' field activity and linked to a 'Deployment': http://django.uwrl.usu.edu/equipment/field-activity-detail/723/

[2015-04-13 23:35] AmberSJones opened #86 "Factory Service not working correctly"
When 'Factory Service History' is selected from an Equipment detail page, it automatically displays the Equipment detail page again. It should display a page indicating that no factory service has occurred.

[2015-04-13 23:37] AmberSJones opened #87 "Sensor Output Variable Link"
In the list of sensor output variables, the link should be on the variable code instead of the variable name:

![image](https://cloud.githubusercontent.com/assets/5023186/7127608/bd2935fe-e203-11e4-8781-a07a88b60340.png)

[2015-04-13 23:39] AmberSJones opened #88 "Equipment models need to link to instances"
From the Equipment Model details page, we need links to instances from the Equipment table of those Equipment Models.

[2015-04-14 15:57] AmberSJones opened #89 "Updated List of Fields for All List and Detail Views"
As I reviewed the list and detail views, there were a number of fields that did not need to be included, as well as some fields that should be included- from our new schema. I determined to create a list of what we actually want to display. I'm thinking I will put this list into a spreadsheet and send it. @horsburgh , you may have feedback on the fields, so we can revise if needed/desired. Any tho

[2015-04-15 20:41] AmberSJones opened #90 "Add Links to the Vendor/Manufacturer Details Page"
Links to the Vendor/Manufacturer details page should be added anywhere the Manufacturer or Vendor name is listed- e.g., Equipment Models Detail Page, Equipment Detail Page.

[2015-04-15 20:43] AmberSJones opened #91 "Create Owner Detail Page"
Need to create a detail page for an Owner and link on the detail pages where the owner is named. This page should be similar to the Vendor/Manufacturer detail page- i.e., listing all of the equipment owned by that person.

[2015-04-30 05:00] marioscience commented on #74
The default paging size was changed to 50.

[2015-05-12 20:51] marioscience commented on #77
All notes instances were removed.

[2015-05-12 20:54] marioscience commented on #80
Times were being off because of UTC Offset. UTC Offset was deactivated for the project since this is handled in the database.

[2015-05-12 20:56] marioscience commented on #81
Last name was added were it was missing.

[2015-05-12 21:10] marioscience commented on #82
Fields removed.

[2015-05-12 21:11] marioscience commented on #84
This was fixed.

[2015-06-09 17:17] #74 closed

[2015-06-09 17:24] #77 closed

[2015-06-09 17:29] #82 closed

[2015-06-09 17:30] #81 closed

[2015-06-09 17:33] #84 closed

[2015-06-09 17:55] AmberSJones commented on #80
So, before, were the UTC times the ones being displayed? I don't see any of the 3 am times, but there are a few 11 pm. I still want to check these in the database.

[2015-06-09 18:19] AmberSJones commented on #79
I think this is working correctly now? However, instead of displaying 'Field Activity details', we should just display 'Action Details' or 'Calibration Details' specific to the type of action that is being displayed.

Here is what is displayed when a related action is linked to from the Site Visit page:
![image](https://cloud.githubusercontent.com/assets/5023186/8065709/81e43dee-0ea0-11e5-914c-2b3

[2015-06-09 18:22] AmberSJones commented on #89
I think this has been addressed @marioscience ? Is this complete?

[2015-06-09 20:44] AmberSJones commented on #83
I can't actually tel if this one is addressed because there is not enough information on the Calibration or Deployment details page to verify. I'll add that as a separate issue.

[2015-06-09 20:53] AmberSJones commented on #85
These are still problematic.

[2015-06-09 21:24] AmberSJones opened #92 "Site Info on Calibration Details pages"
I know that I left it off of the spreadsheet that I created with fields for display, but I am thinking that we should include Site Code and Site Name on the Calibration Details page. It shouldn't be requires as calibrations may occur without being related to a sampling feature/site, but if they do occur at a site, than we should include that information.

[2015-06-09 21:25] AmberSJones opened #93 "Change the 'Vendors' page to be 'Organizations'"
This is a simple terminology change.

[2015-06-09 21:28] AmberSJones opened #94 "Display Fields for Tables and View Pages"
This issue is to track consistency with the spreadsheet that I created and sent out listing the fields for display for all tables and views.

[2015-06-09 21:30] AmberSJones opened #95 "Action vs. Activity"
This is just a terminology clarification. Every instance of 'Activity' should be replaced with 'Action'. 'Field Activities' should also be replaced with 'Actions'.

[2015-06-09 21:50] AmberSJones opened #96 "Implement Addition of Nested Actions"
One of our biggest goals for this release is the implementation of nested actions. The goal is for a user to be able to add a parent action (Site Visit), and then add multiple related children actions on the same edit page. The power point mockups that have been sent out include examples and notes describing many of the specific rules, etc. for each field.

This may include the nesting of addition

[2015-06-09 21:56] AmberSJones opened #97 "Implement Editing Pages that are (relatively) unchanged from the drupal system"
I've reviewed the old equipment management interface and identified the editing pages that will NOT change and which you can replicate in your new development:

- [x] New Site
- [x] New Factory Service Event (note that this is 'Maintenance Action' in the new schema)
- [x] New Equipment Model
- [x] New Equipment
- [x] New Calibration Standard (note that this is 'Reference Material' in the new schem

[2015-06-09 22:56] AmberSJones opened #98 "Forms Need to Show Required Fields"
We need a way to distinguish required/non-required on the forms. I think a * to indicate required would suffice.

[2015-06-09 23:02] AmberSJones opened #99 "Nested Entry in 'Create Equipment'"
On the Create Equipment page, we should implement the ability to create an equipment model.
![image](https://cloud.githubusercontent.com/assets/5023186/8071635/42fa252a-0ec9-11e5-84eb-c940b88cdda3.png)

[2015-06-09 23:04] AmberSJones opened #100 "Variable Drop Down Menus"
Every time we are selecting variables from a pre-populated list (drop down menu), the options should concatenate the variable name and the variable code. A dash or a colon could be used.

![image](https://cloud.githubusercontent.com/assets/5023186/8071686/a42c316c-0ec9-11e5-86c5-13931cb5e3c7.png)

[2015-06-09 23:06] AmberSJones opened #101 "Update Vocabularies"
All of the vocabularies need to be updated. Still waiting on units :) @horsburgh

[2015-06-09 23:14] AmberSJones opened #102 "Consistent Naming"
There are several places where the names of tables and forms are inconsistent. We should use the terminology in the schema to the extent possible. Here are some examples:

Shouldn't use Sensor Output Variables- it's Instrument Output Variables
![image](https://cloud.githubusercontent.com/assets/5023186/8071754/30773b80-0eca-11e5-9a12-0bffe5659e8c.png)
Vendors: Should be Organizations
![image](http

[2015-06-09 23:18] AmberSJones commented on #73
These are probably features that we can/should implement on the django version as well. I won't add it to the first milestone ... yet.

[2015-06-09 23:29] AmberSJones commented on #70
This button is present, but not functional yet. I'm putting this on the django version.

[2015-06-09 23:39] AmberSJones commented on #69
This has been handled in the schema, so I could close the issue. However, we need to make sure that it is properly executed when we add a Calibration Action- we need to be able to use multiple calibration standards/reference materials.

[2015-06-09 23:41] AmberSJones commented on #58
We need to be sure this is implemented in the django version as well.

[2015-06-09 23:44] AmberSJones commented on #38
This is a workflow that we need to support in the django version as well. I won't add it to the first version (at least not yet!)

[2015-06-09 23:46] AmberSJones commented on #28
For the django version, we need to enforce that times for child actions stay within the begin/end times for the parent site visit.

[2015-06-09 23:48] AmberSJones commented on #10
Not sure if we should implement this on the web version- might be most practical to have it as an option to load from a spreadsheet directly to the database somehow.

[2015-06-22 19:47] marioscience commented on #85
It was showing MethodTypeCV instead of ActionTypeCV. I changed the action type in the field activity and now it looks correct, the method that it is associated with is of type deployment.

[2015-06-22 19:49] marioscience commented on #87
This is done.

[2015-06-23 19:18] marioscience commented on #102
I made these changes and tried to change any terminology that I thought should change. Should Field Activities be changed to Actions?

[2015-06-23 21:15] marioscience opened #103 "Reference Material Values Relationships"
In Calibrations Details. To show the Reference Material information I am using the relationship through CalibrationActions->CalibrationStandards->ReferenceMaterial and I am showing all ReferenceMaterialValues that are related to those ReferenceMaterials in the table. Is this correct or should I go through CalibrationActions->InstrumenOutputVariables->Variables->ReferenceMaterialValues->ReferenceMa

[2015-06-23 22:39] marioscience commented on #94
I checked the file and made sure all field names are consistent with those of the file.

[2015-06-23 22:40] marioscience commented on #95
All instances of Activity changed to Actions.

[2015-06-23 22:40] marioscience commented on #100
This change is done.

[2015-06-25 20:59] AmberSJones commented on #85
Ok, great. I think this is working. Closing.

[2015-06-25 20:59] #85 closed

[2015-06-25 21:00] AmberSJones commented on #87
Great. Closing.

[2015-06-25 21:00] #87 closed

[2015-06-25 21:04] AmberSJones commented on #102
Vendors should be changed to Organizations in the tab and on the 'New' button.
![image](https://cloud.githubusercontent.com/assets/5023186/8365573/2ad893c6-1b4b-11e5-8c30-41599e20586a.png)

I'm not seeing 'Field Activity' anywhere. Is it still somewhere on the site?

[2015-06-25 21:17] AmberSJones commented on #103
The direction in which you are querying the reference material information is correct. However, instead of displaying ALL ReferenceMaterialValues related to a ReferenceMaterial, you need to implement a check on the InstrumentOutputVariable in the CalibrationActions entity. This should correspond to the InstrumentOutputVariableID -> VariableID that is contained in ReferenceMaterialValues. So, the o

[2015-06-25 21:23] AmberSJones commented on #94
Great, I haven't checked, but I'll close it!

[2015-06-25 21:23] #94 closed

[2015-06-25 21:23] AmberSJones commented on #95
Great.

[2015-06-25 21:23] #95 closed

[2015-06-25 21:25] AmberSJones commented on #100
Great.

[2015-06-25 21:25] #100 closed

[2015-06-25 21:30] AmberSJones commented on #83
I think this is addressed? I'm going to close.

[2015-06-25 21:30] #83 closed

[2015-07-07 20:50] AmberSJones commented on #28
Testing the new add point form. Currently, the times of child actions are permitted to be outside of the begin/end date times for the parent action (site visit). We need to restrict it so that the children actions are within the parent begin/end times.

[2015-07-07 20:58] AmberSJones opened #104 "Add Site Visit form typos"
- [x] Instead of UTF Offset, it should be UTC Offset.
- [x] On the Add Action form,  should be 'Action Type' instead of Actiontypecv.
- [x] On the Add Action form,  Should be 'Begin Date Time' instead of Begindatetime

[2015-07-07 21:00] AmberSJones opened #105 "EndDateTime should auto-populate"
For all actions on the Add Site Visit form, the EndDateTime needs to auto-populate:
- For the parent site visit, it should populate with the BeginDateTime.
- For all of the children actions, the EndDateTime should populate with the EndDateTime of the parent Site Visit.

[2015-07-07 21:01] AmberSJones opened #106 "Add Site Visit- Editing of Time"
The times are difficult to edit- can we implement something that uses the keyboard arrows to change the HH:MM:SS?

[2015-07-07 21:05] AmberSJones opened #107 "Add Site Visit form: Restrict Equipment available for selection"
For actions nested under a site visit, we need to restrict the equipment available for selection to the equipment that is deployed at that site. This is appropriate for Calibrations, Maintenance, and Generic Actions. Deployment can be any equipment.

[2015-07-07 21:07] AmberSJones opened #108 "Add Site Visit form: Generic Action shouldn't require equipment"
It's appropriate that calibrations, deployments, and maintenance all require actions. It's not necessary for a generic action to require equipment.

[2015-07-07 21:09] AmberSJones opened #109 "Add Site Visit form: End Date Time reset error"
If there is an error when trying to add a new site visit and add other actions, the EndDateTime incorrectly resets.

[2015-07-07 21:10] AmberSJones opened #110 "Add Site Visit form: Add Calibration Reference Materials and Equipiment"
When adding a calibration to an add site visit, we need to be able to add calibration standards and calibration reference equipment.

[2015-07-07 21:13] AmberSJones opened #111 "Add Site Visit form: Equipment Information"
When displaying information on equipment for selection on the actions nested under the Add Site Visit, we need to display the Equipment Type and Model along with the Equipment Code and Serial Number. It might get long, but it will be very clear what equipment is available for selection.

[2015-07-08 19:44] marioscience commented on #76
This issue is fixed.

[2015-07-14 19:06] marioscience commented on #111
Added type and model in parenthesis for each equipment.

[2015-07-14 20:22] marioscience commented on #28
This is done.

[2015-07-14 20:35] marioscience commented on #70
A button was added under the map in the detail pages.

[2015-07-15 17:06] marioscience commented on #78
All instances of next an previous are now working.

[2015-07-15 20:06] marioscience commented on #80
There are some instances on the databases of dates that are late at night. Here is an example:
![image](https://cloud.githubusercontent.com/assets/5332522/8708555/e5af78c8-2af9-11e5-84ff-487b6858c07c.png). I tested inserting an site visit and checked the dates and everything looks correct.

[2015-07-15 20:17] marioscience commented on #89
Yes. I went trhough the list and changed the fields accordingly. Please let me know if there are any changes you need from there.

[2015-07-15 20:23] marioscience commented on #93
Vendor term was changed to Organization on Vendors page.

[2015-07-15 20:30] marioscience commented on #97
These forms were done. They work for both creation and edition of their objects. Please let me know of any changes needed.

[2015-07-15 20:31] marioscience commented on #98
An asterisk was added to distinguish required fields.

[2015-07-15 20:35] marioscience commented on #102
I made this change. Field activities were thoroughly changed on all instances that I found (using PyCharm) so there shouldn't be anymore left.

[2015-07-15 20:41] marioscience commented on #104
These typos were fixed.

[2015-07-15 20:49] marioscience commented on #105
These features were added to the site visit form and nested action forms.

[2015-07-15 20:55] marioscience commented on #109
This issue is now solved.

[2015-07-15 21:16] marioscience commented on #110
I added the ability to select reference materials and create calibration standards. Does this suffice for calibration standards? I will implement something similar for calibration reference equipment.

[2015-07-15 21:25] marioscience commented on #69
I implemented a multiple select showing all Reference Material instances. Calibration Standards are created with the reference materials selected and the action being created. Please check this functionality in the sandbox to see if it is implemented correctly.

[2015-07-16 19:33] marioscience commented on #110
Calibration Reference Equipment can be selected from a multiple select input.

[2015-07-16 21:01] marioscience commented on #108
Changed EquipmentUsed field to be required as pecified above.

[2015-07-20 13:15] AmberSJones commented on #105
I'm not getting the SiteVisit EndDateTime to auto-populate with the BeginDateTime after I change the BeginDateTime.

The date times for the children activities are auto-populating correctly.

[2015-07-20 13:16] #104 closed

[2015-07-20 13:20] AmberSJones commented on #111
This is good. Closing.

[2015-07-20 13:20] #111 closed

[2015-07-20 13:27] AmberSJones commented on #110
Yes, this is good. The only issue outstanding is that I can't differentiate between calibration standards of the same type/value, so I think we need to include some additional fields for the selection of a calibration reference material. What are you currently displaying?

[2015-07-20 13:31] AmberSJones commented on #108
Great. Closing.

[2015-07-20 13:31] #108 closed

[2015-07-20 13:32] AmberSJones commented on #109
I'm not experiencing this anymore. Closing.

[2015-07-20 13:32] #109 closed

[2015-07-20 13:34] AmberSJones commented on #102
Great.

[2015-07-20 13:34] #102 closed

[2015-07-20 13:36] AmberSJones commented on #98
I like it. Closing.

[2015-07-20 13:36] #98 closed

[2015-07-20 13:37] AmberSJones commented on #93
No, I think this is good.

[2015-07-20 13:37] #93 closed

[2015-07-20 13:39] AmberSJones commented on #92
Great.

[2015-07-20 13:39] #92 closed

[2015-07-20 13:41] AmberSJones commented on #90
Great. Closing.

[2015-07-20 13:41] #90 closed

[2015-07-20 13:42] AmberSJones commented on #89
I'll close this. If anything additional is needed, we'll address it separately.

[2015-07-20 13:42] #89 closed

[2015-07-20 13:45] AmberSJones commented on #78
I may not have been clear about how this should be implemented- the buttons should only scroll through actions of that type at the particular site. So, for site visits, it should scroll through the site visits at a site.

Currently, it's scrolling through all site visits in the database.

[2015-07-20 13:46] AmberSJones commented on #76
Great.

[2015-07-20 13:46] #76 closed

[2015-07-20 13:50] AmberSJones commented on #88
Great.

[2015-07-20 13:50] #88 closed

[2015-07-20 13:51] AmberSJones commented on #80
Ok. I am going to check these out and see if there is an issue in the database when I get a chance.

[2015-07-20 13:51] AmberSJones commented on #70
Great.

[2015-07-20 13:51] #70 closed

[2015-07-20 13:53] AmberSJones commented on #75
Great. Closing.

[2015-07-20 13:53] #75 closed

[2015-07-20 13:54] AmberSJones commented on #69
This seems to be correctly implemented with the multiple calibration reference material selection. Closing the issue.

[2015-07-20 13:54] #69 closed

[2015-07-20 18:08] marioscience commented on #105
The way I set up the EndDateTime to be populated is first from BeginDateTime and then the date is unchanged if it is set by the user (unless the that datetime is after the datetime is already set, in which case is then updated). If I understand correctly, every time the BeginDateTIme is set/changed the EndDateTime should be updated with the same datetime? What about nested actions, should the date

[2015-07-20 18:36] marioscience commented on #110
Right now I am showing ReferenceMaterialID and ReferenceMaterialMediumCV.

[2015-07-20 19:03] marioscience commented on #78
This change was implemented.

[2015-07-20 19:11] marioscience commented on #107
This is implemented for the Equipment Used field. What about Reference Equipment under calibration actions, should that field be filtered as well?

[2015-07-20 19:24] AmberSJones commented on #105
You're right- the EndDateTime should populate from the BeginDateTime, and it should change to reflect any changes made by the user in the BeginDateTime.

For nested actions, yes, I think the datetimes should change to reflect what the user updates on the parent action.

Ideally, the user only sets the BeginDateTime for the parent action once so that the parent EndDateTime and datetimes for child a

[2015-07-20 19:32] AmberSJones commented on #78
This still isn't behaving as I would expect. Let me know if the desired functionality is unclear.

[2015-07-20 19:33] AmberSJones commented on #107
I'll test this is a bit, but to answer your question- no, reference equipment should allow the selection of any equipment in the database.

[2015-07-20 19:42] marioscience commented on #79
Implemented this. Right now, if the action is a calibration or a deployment it will go to those detail pages.

[2015-07-20 20:01] marioscience commented on #78
I'm sorry, I just deployed this change to the sandbox server. Sometimes I put a comment to track my progress and the ReadyForTesting label when it is deployed in the sandbox.

[2015-07-20 20:39] marioscience commented on #105
I believe the desired behavior is implemented. Please let me know if it works as expected.

[2015-07-20 22:03] marioscience commented on #103
That makes sense. I will make sure to do the check on the VariableID through InstrumentOutputVariableID.

[2015-07-20 22:03] #103 closed

[2015-07-21 13:18] AmberSJones commented on #110
Let's use ReferenceMaterialMediumCV, ReferenceMaterialCode, and ReferenceMaterialLotCode.

Does it make sense to also include the ReferenceMaterialValue or is this not needed since you will implement a check on the Variable as discussed in issue #103 ?

[2015-07-21 13:34] AmberSJones commented on #79
This is working. However, anytime I try to click an Instrument Calibration for a Logan River site, I get a 404 Error. For example, http://django.uwrl.usu.edu/equipment/site-visits/calibration-detail/747/. Any ideas?

[2015-07-21 13:36] AmberSJones commented on #78
Great, closing.

[2015-07-21 13:36] #78 closed

[2015-07-21 13:38] AmberSJones opened #114 "Clicking 'New Site Visit' on Site Page should autopopulate Site"
When a new site visit is initiated by clicking on the 'New Site Visit' on the Site Details Page, the 'Site' should be auto-populated with that site.

[2015-07-21 13:42] AmberSJones commented on #105
This seems good to me. Closing.

[2015-07-21 13:42] #105 closed

[2015-07-21 13:49] AmberSJones commented on #107
I see that the equipment is being restricted, but I don't think that the restriction is occurring properly- the Equipment that I see available are not the Equipment deployed at that site. Here is an example:
![image](https://cloud.githubusercontent.com/assets/5023186/8802182/eed950ea-2f7c-11e5-8c7e-89fb67076b3f.png)
Yet what is deployed at that site:
![image](https://cloud.githubusercontent.com/as

[2015-07-21 13:51] AmberSJones commented on #86
This is still unaddressed.

[2015-07-21 13:54] AmberSJones commented on #91
I have not seen this implemented as requested.

[2015-07-21 17:56] AmberSJones opened #115 "New Action button not working"
We need to get the 'New Action', 'New Deployment', and 'New Calibration' buttons working. e.g., on the 'Actions' page, the 'New Action' button is not functional. This should be implemented to add a generic action and similar for Deployments and Calibrations.

These forms need to add Actions of these types on which an existing site visit should be selected.

[2015-07-21 18:42] AmberSJones commented on #97
A few changes need to be made:

New Site Page:
- [ ] Change Elevation to 'Elevation (m)'
- [ ] Change Latitude and Longitude to 'Latitude (dec deg)' and 'Longitude (dec deg)'
- [ ] SiteType, ElevationDatum, and GeoType need to come from the associated vocabularies

Create Factory Service:
- [ ] Implement the fields displayed for Equipment as implemented in the Site Visit form

Create Equipment Mod

[2015-07-22 19:52] AmberSJones commented on #86
Ok, got it.

[2015-07-22 19:52] #86 closed

[2015-07-22 19:53] AmberSJones commented on #91
Ok, this is done.

[2015-07-22 19:53] #91 closed

[2015-07-22 22:29] AmberSJones commented on #80
So, I looked in the database to check out a bunch of times that seemed bizarre- i.e., late at night times, long duration of events (multiple days), and end times after start times. All of the ones that I identified were verified in the database- as well as in the original GAMUT database. This is probably a result of inadvertent time selection by the user. The technicians will need to resolve these

[2015-07-22 22:29] #80 closed

[2015-07-23 18:36] AmberSJones opened #116 "Implement Retrievals"
We need to implement 'Retrievals'. A retrieval is an action and should be implemented under the Add Site Visit page as well as with an independent add/edit page. A retrieval action should be related to a deployment action using the related actions table and the 'isRetrievalof' as the RelationshipTypeCV. A retrieval effectively ends the deployment of a particular piece of equipment at a particular

[2015-07-29 22:52] AmberSJones opened #117 "Implement Results Generation"
We need to implement the generation of records in the Results table when an Action of type 'InstrumentDeployment' is created. So, the user would need to be prompted about the selection or creation of Variables and InstrumentOutputVariables when an InstrumentDeployment occurs.

[2015-07-30 20:48] AmberSJones opened #118 "Implement Action Annotations"
We are using Action Annotations to describe environmental conditions when an Action was performed. We need to display these on the Site Visit page and implement the ability to add an annotation with a site visit.

Really, a user should be able to add an annotation to any action, but I'm thinking we only implement it for site visits at this point.

[2015-07-30 20:49] AmberSJones commented on #101
Done!

[2015-07-30 20:49] #101 closed

[2015-10-13 17:57] horsburgh commented on #57
Since this one has the wontfix label, I'm closing.

[2015-10-13 17:57] #57 closed

[2015-10-13 17:58] horsburgh commented on #71
Wontfix.  This was associated with the Drupal version.  Closing.

[2015-10-13 17:58] #71 closed

[2015-10-13 17:58] horsburgh commented on #67
Wontfix.  Associated with Drupal version.  Closing.

[2015-10-13 17:58] #67 closed

[2015-10-13 17:59] horsburgh commented on #54
Wontfix label.  Closing.

[2015-10-13 17:59] #54 closed

[2015-10-13 17:59] horsburgh commented on #46
Wontfix label. Closing.

[2015-10-13 17:59] #46 closed

[2015-10-13 18:00] horsburgh commented on #44
Wontfix label. Closing.

[2015-10-13 18:00] #44 closed

[2015-10-13 18:00] horsburgh commented on #33
Wontfix label. Closing.

[2015-10-13 18:00] #33 closed

[2015-10-13 18:00] horsburgh commented on #31
Wontfix label.  Closing.

[2015-10-13 18:00] #31 closed

[2015-10-13 18:02] horsburgh commented on #65
Specific to Drupal version.  Closing.

[2015-10-13 18:02] #65 closed

[2015-10-13 18:03] horsburgh commented on #64
Drupal specific. Closing.

[2015-10-13 18:03] #64 closed

[2015-10-13 18:04] horsburgh commented on #62
Specific to Drupal. Closing.

[2015-10-13 18:04] #62 closed

[2015-10-13 18:04] horsburgh commented on #34
Implemented. Closing.

[2015-10-13 18:04] #34 closed

[2015-10-13 19:03] jcaraballo17 commented on #106
Is this still necessary? right now we are using a calendar widget to select the date and then the time, and it seems pretty easy to do for me. What do you think @AmberSJones?

[2015-10-13 19:27] jcaraballo17 opened #122 "Deployed Equipment for a Site"
The list of equipment deployed for a specific site is empty for all sites.

[2015-10-13 19:28] jcaraballo17 opened #123 "Button Style on Site Visit form"
The "Add Action" button in the Site Visit form has a fixed width that is smaller than the text.

[2015-10-13 19:32] jcaraballo17 opened #124 "Vocabularies Management"
Need to add a 'New' and 'Edit' forms for the Site Type and the Equipment Type vocabularies.
- [ ] Add new Site Type
- [ ] Edit Site Type
- [ ] Add new Equipment Type
- [ ] Edit Equipment Type

[2015-10-13 19:35] jcaraballo17 opened #125 "Text label changes in forms"
New Site Page:
- [x] Change Elevation to 'Elevation (m)'
- [x] Change Latitude and Longitude to 'Latitude (dec deg)' and 'Longitude (dec deg)'

Create Calibration Standard:
- [x] Change Variables to 'Variable'

Create New Organization
- [x] Change to 'Create Organization' rather than 'Create Vendor'

[2015-10-13 19:49] jcaraballo17 opened #126 "Add correct associations fields instead of text fields in forms"
New Site Page:
- [x] SiteType
- [x] ElevationDatum
- [x] GeoType

Create Equipment:
- [x] Equipment Type

Create Factory Service:
- [x] Show same text for Equipment as in the Site Visit form

Create Equipment Model:
- [x] Implement file selection of the 'Specifications File'

Create Calibration Standard:
- [x] Add Accuracy
- [x] Add ability to load a certificate file for ReferenceMaterialCertifica

[2015-10-13 19:50] jcaraballo17 opened #127 "500 Error when adding an Equipment"

[2015-10-13 20:15] AmberSJones commented on #106
I see the clock in the calendar widget, which I hadn't noticed before. It is problematic for the following reasons:
- it is small
- the widget goes away when the date is selected
- the widget goes away when an arrow is clicked even once (this makes it not functional)

We need an easy way to edit the times. We need to minimize mouse clicks, so this would be better done from the keyboard. Ideally, w

[2015-10-13 20:27] AmberSJones commented on #28
This is addressed. Closing.

[2015-10-13 20:27] #28 closed

[2015-10-13 20:35] AmberSJones commented on #79
This appears to be addressed. Closing.

[2015-10-13 20:35] #79 closed

[2015-10-13 21:15] AmberSJones commented on #107
This appears to be addressed. Closing.

[2015-10-13 21:15] #107 closed

[2015-10-13 21:21] AmberSJones commented on #115
These forms have been created. They still need some work, but I will post separate issues. Closing.

[2015-10-13 21:21] #115 closed

[2015-10-13 21:31] AmberSJones commented on #97
This issue has been broken out into others (thanks @jcaraballo17 for doing this!), so I'm closing.

[2015-10-13 21:31] #97 closed

[2015-10-14 18:05] jcaraballo17 commented on #127
This error occurs when trying to set an Equipment Type that doesn't exist in the database. This issue will be resolved after completing issue #126.

[2015-10-14 18:07] jcaraballo17 commented on #124
These work the same way as the other vocabularies, and there's a couple of examples in the code. @ZachYoshikawa can take care of this.

[2015-10-14 18:15] jcaraballo17 commented on #126
This is pretty complicated, I'll take on this one.

[2015-10-14 21:07] ZachYoshikawa commented on #126
Okay, sounds good.

[2015-10-14 21:39] jcaraballo17 opened #128 "Create foreign key fields for CVs"
Since the controlled vocabularies were added to the database, the cv fields in other tables are now foreign keys and those changes were not reflected on the application models. Any object with a cv field (Sites, Equipment, etc.) will crash because of the database constraint. This is what's happening with issue #127 and issue #126 depends on that too.

@AmberSJones when changes are made to the data

[2015-10-14 21:40] jcaraballo17 commented on #127
Read issue #128.

[2015-10-14 21:40] #127 closed

[2015-10-14 23:06] jcaraballo17 commented on #128
Added all the foreign key fields to the models.

[2015-10-14 23:06] #128 closed

[2015-10-15 16:42] AmberSJones commented on #128
@jcaraballo17 - I will keep you updated on any changes being made to the database. I know @marioscience knew about these changes, but obviously didn't get the models updated.  Thanks for catching this.

[2015-10-15 16:47] AmberSJones commented on #127
@jcaraballo17 - not sure if you've actually fixed this issue or not, but I'm still getting the 500 error when adding equipment. Maybe you just haven't pushed your changes to the sandbox server?

[2015-10-15 16:52] AmberSJones opened #129 "Move buttons above tables"
On many pages, there are buttons below the table in the bottom half of the page. If the table gets long, it pushes the buttons too low on the page. We need to move the buttons up to keep them accessible.

For example, on the Site Details page:
![image](https://cloud.githubusercontent.com/assets/5023186/10521055/d52dd232-732a-11e5-806c-4f2e66cef013.png)

[2015-10-15 16:56] AmberSJones opened #130 "'New Site Visit' button not working"
The 'New Site Visit' button on the Site Details page isn't working.

[2015-10-15 16:58] AmberSJones opened #131 "Position of Stars to Indicate Required Fields"
We are using stars to indicate whether a field is required or not. These were previously placed on the outside of the box, but now they started appearing on the inside. Can we move them to the outside of the entry boxes?
![image](https://cloud.githubusercontent.com/assets/5023186/10521195/ad33987e-732b-11e5-800f-b7ec132819e7.png)

[2015-10-15 17:06] AmberSJones opened #132 "Creating an action from the Site Visit details page should automatically select site visit"
When trying to create an action from the Site Visit details page using the 'Add New Calibration', 'Add New Deployment', or 'Add Other Action' buttons, that site visit should be automatically selected and populated on the Create Action page.

[2015-10-15 17:34] AmberSJones opened #133 "Selecting Site Visit- Field to Display"
On the Create Action forms (Create Deployment Action, Create Calibration Action, Create Generic Action), when selecting a Site Visit for the Action, the fields currently displayed are BeginDate, EndDate, and ActionDescription for the Site Visit Action. The fields that should be displayed are: BeginDateTime and SamplingFeatureCode. I think that will be sufficient.

[2015-10-15 17:48] AmberSJones opened #134 "Restrict Equipment on Create Action pages"
When creating an Action (Calibration Action, or Generic Action), once a Site Visit is selected, the Equipment available for selection should be restricted to the Equipment deployed at that site during that time period.

[2015-10-15 17:49] AmberSJones opened #135 "Restrict DateTimes on Create Action pages"
When creating an Action (Deployment Action, Calibration Action, or Generic Action), once a Site Visit is selected, the DateTimes should be populated to the BeginDateTime and EndDateTime for that Site Visit as well as be restricted to fall within those date times (similar to the restriction on the nested Action page). See below for current behavior.

![image](https://cloud.githubusercontent.com/ass

[2015-10-15 21:14] jcaraballo17 commented on #127
@AmberSJones I haven't pushed it yet, but this was happening because of issue #128 and it's resolved.

[2015-10-19 16:25] ZachYoshikawa commented on #125
These fixes are under the branch 'textLabelChanges'

[2015-10-19 16:56] ZachYoshikawa commented on #123
Button is the correct size on the master branch, but not on the website online.

[2015-10-19 17:01] horsburgh commented on #123
Let's not close issues until they are at least working in the deployment on the sanbox server.  Instead add appropriate labels:

"fixed" - The code has been fixed and merged with the master branch
"ready for testing" - the fix has been deployed on the sandbox server and is ready to be tested.

Once tested, issues can be closed.  Best would be to close them when working on the production server.

[2015-10-19 17:19] ZachYoshikawa commented on #123
Okay, good to know.

[2015-10-19 17:20] ZachYoshikawa commented on #125
Re-implemented changes in 'letterChanges' branch.

[2015-10-19 17:41] ZachYoshikawa commented on #125
Also, attempting to create a site has an IntegrityError for the SQL database that should probably be a separate issue.

[2015-10-19 20:48] AmberSJones commented on #125
Yes @ZachYoshikawa , please add it as an issue!

[2015-10-19 21:08] ZachYoshikawa commented on #125
@AmberSJones I will add the issue tomorrow morning.

[2015-10-23 17:37] jcaraballo17 opened #136 "Calibration Standard Action"
@AmberSJones right now all the fields in the form to create a calibration standard are from Reference Material and Reference Material Values, but I'm looking at the database and a Calibration Standard has a field referencing an Action.
What should I do with that? Should I include the form to create an action on the calibration standard form? I don't know where to get that data from.

[2015-10-26 14:09] ZachYoshikawa commented on #125
@AmberSJones @jcaraballo17 Juan told me that it had to do with him reorganizing SQL database and that he took care of it. I tested it and it is fixed.

[2015-10-26 15:34] ZachYoshikawa commented on #124
@jcaraballo17 I am looking at the Vocabularies and see there is already 'New' and 'Edit' forms for Site Type and Equipment Type. They are functional. Am I missing something?

[2015-10-26 18:00] ZachYoshikawa commented on #129
@AmberSJones @jcaraballo17 This fix is in branch ODM2Sensor-129

[2015-10-26 20:52] AmberSJones commented on #136
No- the calibration standard itself (that is, the reference material- we can use those terms more or less interchangeably) stands alone without any action. The 'CalibrationStandards' table is a bridge table to link an Action to a ReferenceMaterial. Does that make sense? So, any Action that is of type 'Calibration' should have the option of selecting a calibration standard/reference material.

[2015-10-26 21:05] AmberSJones commented on #124
Maybe this shouldn't be implemented as functionality on the Equipment Management site since these vocabularies should come from the ODM2 vocabularies site. @horsburgh , do you agree?

[2015-10-26 21:08] AmberSJones commented on #129
@jcaraballo17 @ZachYoshikawa , when resolution on issues is pushed to the sandbox server, mark it as ready for testing and let me know. Thanks!

[2015-10-27 15:17] horsburgh commented on #124
@jcaraballo17 and @ZachYoshikawa - @AmberSJones is right, we now have a functioning system for the ODM2 CVs at http://vocabulary.odm2.org.  So creation of any new vocabulary terms should happen there and then be retrieved into the equipment management database from that system.

[2015-10-27 20:56] jcaraballo17 opened #137 "Error when creating a new action"
There's an internal server error when accessing any action form (Deployement, Site Visit, Calibrations, etc.)

[2015-10-27 21:09] jcaraballo17 commented on #137
Solved.

[2015-10-27 21:09] #137 closed

[2015-10-27 22:03] jcaraballo17 commented on #122
This also included Deployments by equipment, and Calibrations by equipment.

[2015-10-29 17:32] jcaraballo17 commented on #136
So, the list of Calibration Standards in Vocabularies -> Calibration should really be reference materials?

As it is right now, it shows the calibration standards (the bridge table between action and reference material), so when you click on 'new calibration standard' you are really creating a reference material and nothing shows up in the table. When you go back to the list, it looks like the new

[2015-10-29 19:56] AmberSJones commented on #136
Yes, it should refer to the reference materials table. Does that clear things up? Let me know if you have other questions on this.

[2015-10-29 20:19] jcaraballo17 commented on #110
Changed the string to display
"ReferenceMaterialMediumCV : ReferenceMaterialCode ReferenceMaterialLotCode"

[2015-10-29 22:07] jcaraballo17 commented on #136
Yeah, it makes sense now. Thanks!

[2015-10-29 22:07] #136 closed

[2015-10-29 22:10] jcaraballo17 opened #138 "Wrong model on Calibration Standard table"
The Calibration Standard list on Vocabularies -> Calibration should show Reference Materials instead of the Calibration Standard bridges.

[2015-10-29 22:24] jcaraballo17 commented on #124
So should we get rid of all the Controlled Vocabularies forms that are already implemented? Right now, from the odm2sensor page, we can add and edit:
Spatial Offset Type
Site Type
Sampling Feature Type
Equipment Type
Action Type
Method Type
Organization Type

[2015-10-29 22:54] horsburgh commented on #124
@jcaraballo17 - These are all covered at http://vocabulary.odm2.org.  So, that's where you should get the terms to keep an ODM2 database up to date, but any additions/editing should be done at http://vocabulary.odm2.org.

[2015-10-29 22:55] jcaraballo17 commented on #131
I think @ZachYoshikawa solved this, assigned just to be sure.

[2015-11-03 01:14] ZachYoshikawa commented on #125
@jcaraballo17 Ready to be merged with master branch and pushed to sandbox server.

[2015-11-03 01:14] ZachYoshikawa commented on #129
@jcaraballo17 Ready to be merged with master branch and pushed to sandbox server.

[2015-11-03 01:35] ZachYoshikawa commented on #131
Issue fixed on issue #129 branch. @jcaraballo17 Need to merge django branch to master tomorrow and push to sandbox server for testing.

[2015-11-05 22:12] AmberSJones commented on #110
We also need to select the ReferenceMaterialValue somehow. This is probably most directly done via multiple entries in the Calibration Standards field. So, we may also need to include the reference material value, the variable name, and the units. That will involve a lot of joins...

But I'm thinking that we need to display:
ReferenceMaterialMediumCV: ReferenceMaterialCode ReferenceMaterialLotCode

[2015-11-05 22:21] AmberSJones commented on #114
Great, closing.

[2015-11-05 22:21] #114 closed

[2015-11-05 22:24] AmberSJones commented on #122
Great, closing.

[2015-11-05 22:24] #122 closed

[2015-11-05 22:26] AmberSJones commented on #123
When at full width, this appears to be fixed, but the issue is still there when the window is resized to a smaller width:
![image](https://cloud.githubusercontent.com/assets/5023186/10983727/89102fc8-83d1-11e5-9b9d-58ad062c19d0.png)

[2015-11-05 22:27] AmberSJones commented on #131
When at full width, this appears to be fixed, but the issue is still there when the window is resized to a smaller width:
![image](https://cloud.githubusercontent.com/assets/5023186/10983727/89102fc8-83d1-11e5-9b9d-58ad062c19d0.png)

[2015-11-05 22:34] AmberSJones commented on #125
Great, closing.

[2015-11-05 22:34] #125 closed

[2015-11-05 22:43] AmberSJones commented on #126
Great, closing.

[2015-11-05 22:43] #126 closed

[2015-11-05 22:47] AmberSJones commented on #129
Great, closing.

[2015-11-05 22:47] #129 closed

[2015-11-05 22:53] AmberSJones commented on #132
The correct site visit is selected, but the Begin Date Time and End Date Time also should be populated with the Begin Date Time and End Date Time of the selected Site Visit.
![image](https://cloud.githubusercontent.com/assets/5023186/10984240/5d708b20-83d5-11e5-9d02-c64a7bc189e7.png)

[2015-11-05 22:54] AmberSJones commented on #138
This seems correct. Closing.

[2015-11-05 22:54] #138 closed

[2015-11-05 23:01] AmberSJones commented on #132
I think the outstanding issue is covered by #135 , so I will close this issue.

[2015-11-05 23:01] #132 closed

[2015-11-05 23:02] AmberSJones commented on #124
So, the resolution on this issue is that these all of these Types should not be edit-able on the odm2sensor/equipment management system.

[2015-11-05 23:08] AmberSJones commented on #96
I think we're about at the point where we can just close this issue. @jcaraballo17 , what do you think?

[2015-11-06 01:50] ZachYoshikawa commented on #124
@AmberSJones Will you be able to add to or edit the tables without the new, edit, and delete functionality on the django website?

[2015-11-06 13:52] AmberSJones commented on #124
Vocabularies will be edited via the controls on the http://vocabulary.odm2.org page and then the vocabularies on the database underlying our odm2sensor web application will be synced via a script that @sreeder developed or manually.

[2015-11-06 14:36] ZachYoshikawa commented on #124
Perfect. I pushed the changes. Hence, "ready for testing". I want to include the jQuery dataTable for the tables that don't have a Search bar or Show "50" entries. If I can't figure it out I will ask @jcaraballo17 about it.

[2015-11-06 16:48] ZachYoshikawa commented on #124
@AmberSJones I noticed that creating or editing an "Organization" from the Vocabularies tab leads to a form page for creating and deleting a "Vendor". Why do both terms exist?

[2015-11-06 17:17] ZachYoshikawa commented on #123
@AmberSJones it should be working this time!

[2015-11-06 23:13] AmberSJones commented on #124
Great on the 'Types' vocabularies. I think we should consider a re-organization of the 'Vocabularies' pages so that the edit-able tables are better grouped together. I will add that as a new issue.

Regarding Organization and Vendor, a vendor is a type of organization. A previous schema used 'Vendor', so some of the forms still have this terminology- we should correct.

I'm going to close this iss

[2015-11-06 23:13] #124 closed

[2015-11-06 23:30] AmberSJones opened #139 "Reorganize the Vocabularies Pages"
The Vocabularies pages need to be reorganized. We should put all of the 'Types' together (the un-editable tables) as Vocabularies.

Then we need to consider how to display the other tables (and which tables to display). Some of these have their own links already:
Equipment (already linked from the menu)
EquipmentModels (already linked from the menu)
InstrumentOutputVariables (already linked from t

[2015-11-07 00:00] AmberSJones opened #140 "Eliminate 'Vendor'"
There is still a case where 'Vendor' is being referenced (which I thought we had eliminated). This is on  'Organization Details' page. These should all be 'Organization' instead of Vendor. I think this was something that @marioscience had addressed, so I'm not sure why it's still here.

![image](https://cloud.githubusercontent.com/assets/5023186/11011056/b3530c58-84a1-11e5-9a26-02c9ef295657.png)

[2015-11-07 00:02] AmberSJones commented on #123
Great. Closing.

[2015-11-07 00:02] #123 closed

[2015-11-07 00:05] AmberSJones opened #141 "Reorganize Menus"
As alluded to in #139 , we need to discuss some reorganization of the homepage and menus. We need prominant links to the creation of SiteVisits, Calibrations, Deployments, and Other Actions. They're a bit buried at this point.

[2015-11-13 18:38] ZachYoshikawa commented on #133
@jcaraballo17 Site Visit does not have a model that contains begindatetime and samplingfeaturecode in one class. This data is contained in the classes Action() and SamplingFeature() respectively in models.py. Do I need to make a new model to make the query work in the SiteVisitChoiceField() class in forms.py?

[2015-11-15 01:46] ZachYoshikawa commented on #141
This sounds like we should briefly meet to map this out. I will be around next week.

[2015-11-18 16:42] AmberSJones commented on #131
Great, closing.

[2015-11-18 16:42] #131 closed

[2015-11-18 16:55] AmberSJones commented on #140
Looks good. Closing.

[2015-11-18 16:55] #140 closed

[2015-11-18 17:14] AmberSJones commented on #141
Add a home tab, put the quick links on the home page. Quick links should include:
-Create Site Visit
-Create Calibration
-Create Deployment
-Create Other Action
-Add Equipment

[2015-11-18 17:18] AmberSJones commented on #139
Resolved: Put all of the CVs on one tab called Vocabularies with the list of un-editable vocabularies in the menu. Each should have its own page.

Put 'People' and 'Organizations' on a new tab called 'People'.
Add 'Methods' and 'Calibration Standards' to the 'Actions' tab.

[2015-11-18 17:29] AmberSJones commented on #134
Should be able to select multiple pieces of equipment.

Need to have access to the list of equipment currently deployed at the site or the full list of equipment. This could be a radio button to specify a filter or two separate select boxes.

[2015-11-18 17:38] AmberSJones commented on #117
User will need to select Variable/InstrumentOutputVariable, Units, ProcessingLevel, SampledMediumCV.

ResultDateTime and ResultDateTimeUTCOffset = those of the deployment action
ValueCount = 0
StatusCV = ongoing (check the CV)
Result UUID = need to create as a GUID
ResultTypeCV = Time Series Coverage (check the CV)

[2015-11-18 17:57] AmberSJones commented on #116
1. Instrument deployment actions should initially have no end date.
2. An instrument retrieval ends an instrument deployment (and creates the end date for an instrument deployment). The user needs to be able to select the deployment action that the retrieval is ending.
3. A related action needs to be created to relate the retrieval to the deployment that it is ending (isRetrievalof).

We need a sp

[2015-11-24 19:21] miguelcleon opened #142 "ODM2Sensor not compatible with postgresql"
In order to get parts of ODM2Sensor to work with a postgresql ODM2 database I had to make a few changes. For the model sites:

db_table = 'ODM2].[Sites'
needed to be changed to:
db_table = 'sites'

I also needed to change all of the column names to lowercase.

I'm not sure how this should be managed but as is ODM2Sensor won't work with ODM2 in postgresql.

[2015-12-05 23:34] ZachYoshikawa commented on #96
@AmberSJones Juan is subscribed to receive notifications, but does not get them (might be in his spam folder or something). So if @jcaraballo17 doesn't respond on here, I email him.

[2015-12-06 00:00] ghost opened #143 "Implement Deletion of an Action"
Currently there are no defined functions to delete an Action object, meaning nothing can be deleted in the 'Action' tab.

The following needs to be happen (and then probably more that I haven't thought of)

In edit_views.py: creation of def delete_action() next to edit_action()
In edit_urls.py: create url links
Somehow make the function work for all action types

@jcaraballo17 Unlike creating a si

[2015-12-06 00:20] ZachYoshikawa commented on #143
@AmberSJones Was it intentionally designed to not delete actions?

[2015-12-07 14:15] AmberSJones commented on #141
The homepage looks great! A few edits:
- [ ] I think we should remove the title (ODM2 Sensor) so that 'Equipment Management' is the title. But then change it to 'ODM2 Equipment Management'
- [ ] In the text, change the second sentence to 'It is based on the Equipment Extension of the Observations Data Model 2 (ODM2).' Keep the link.
- [ ] There are some resizing issues (see below screenshot). Can

[2015-12-07 14:20] AmberSJones commented on #139
This is fantastic! Only question- I know it might seem odd to have People under the People menu- but can we do it? 'Humans' is ok, but I think we should be consistent with the data model terminology.
![image](https://cloud.githubusercontent.com/assets/5023186/11629061/061d9506-9cb3-11e5-923d-f5de80bcddab.png)

[2015-12-07 14:30] AmberSJones commented on #135
This is great, but the new action start date is being set to the site visit end date time instead of the site visit begin date time.
![image](https://cloud.githubusercontent.com/assets/5023186/11629265/5a2fe77e-9cb4-11e5-9bd8-fcf471be3e95.png)

[2015-12-07 14:36] AmberSJones commented on #135
Update: when you de-select a site visit and then re-select it, both the begin and end date times change to the site visit begin date time.

[2015-12-07 14:52] AmberSJones commented on #134
There are a few questions/issues here:

1. The restricted equipment list has duplicates:
![image](https://cloud.githubusercontent.com/assets/5023186/11629702/ead03c46-9cb6-11e5-8b72-df0832365716.png)

2. When the 'Show all equipment' check box is toggled, it doesn't always work as expected. I think you have to click in the 'Equipment Used' box again to get the 'Show all equipment' to work as expec

[2015-12-07 14:54] AmberSJones commented on #133
Great.

[2015-12-07 14:54] #133 closed

[2015-12-07 14:57] AmberSJones commented on #106
This is much improved. There are probably other ways to make it more streamlined, but I'm ready to put it in the technicians' hands and see if they are ok with it.

[2015-12-07 14:57] #106 closed

[2015-12-07 14:58] AmberSJones commented on #96
Thanks @ZachYoshikawa . Will do.

[2015-12-07 15:00] AmberSJones commented on #143
Hmmm. I think we should be able to delete an action, but as it is so complex, we need to implement a warning to make sure that users actually want to delete...

[2015-12-07 19:24] jcaraballo17 commented on #135
It should work now.

[2015-12-07 20:47] jcaraballo17 commented on #134
I used a filtering function that was already there, but apparently it have some issues and gives duplicated results. I just checked the function and it is getting the site in which a particular site visit was done, and returning all the pieces of equipment that are deployed there.
Is this what we want? Or should it display just the equipment used in that site visit?

[2015-12-07 21:05] AmberSJones commented on #134
You're right- we want to display all of the equipment deployed at the site at the time the site visit occurred. But this shouldn't result in duplicates...

[2015-12-07 21:08] AmberSJones commented on #135
This is so close. But if I select a different site visit from the original selection, the begin date time changes  correctly, but the end date time still corresponds to the first site visit selected.
![image](https://cloud.githubusercontent.com/assets/5023186/11639776/0036200c-9cec-11e5-8577-ce5722300c6e.png)

[2015-12-07 21:22] jcaraballo17 commented on #135
That site visit starts at 11am and ends at 3am. Since the endtime is before the begintime it's making the datetimepicker crash.
Should I just ignore the endtime when that happens? Or set the endtime to be the begintime and vice-versa?

[2015-12-07 21:35] AmberSJones commented on #135
Oooh, I see- the end date time for that site visit is before the begin date time for the site visit. I'm going to try to correct those cases in the database- that should not be happening. I'm guessing it's an am/pm issue in this case.

To prevent this, for the web interface, let's set the end time to be the begin date time. The begin date time should always be maintained.

 In fact, we should prob

[2015-12-07 21:38] horsburgh commented on #135
Yes - it can likely be done as a database constraint.  But, given that constraints are created differently in different RDBMS, I think it would best to just handle it in the application for now.  It may come back to haunt me later...

[2015-12-07 21:44] jcaraballo17 commented on #135
It is restricted in the web interface. When you are creating a site visit and select a begin date, the end date is set to that begin date and you can't select a data before that one.

[2015-12-07 22:58] AmberSJones commented on #135
Ok- I've adjusted all of these in the production database, so they might now reflect in the interface yet depending on which database you are using, @jcaraballo17.

[2015-12-08 16:46] AmberSJones commented on #135
I'm going to close the issue- I think it's resolved.

[2015-12-08 16:46] #135 closed

[2015-12-08 20:52] ZachYoshikawa commented on #141
I will make those changes tonight. I designed the logos and quick links box to move that way so it is always visible when the page is shrunk. But I agree with you now that having them fixed will be better.

[2015-12-08 20:53] ZachYoshikawa commented on #139
Haha, I didn't think you would go for the Humans, but it was worth a shot! ^_^ I'll change it tonight.

[2015-12-08 21:52] AmberSJones commented on #141
Thanks. I think it's important to keep the 'Create New' box front and center even with re-sizing- I don't know if the text could be resized instead of the 'Create New' box?

[2015-12-08 21:52] AmberSJones commented on #139
Ha!

[2015-12-08 23:49] AmberSJones commented on #117
We need one view (a list of results) and one form (creation of results).

For the form, it is as described in the above comment.

For the view, we should display: Site Code, Site Name, VariableCode, Variable Name, BeginDateTime, ResultType, ResultDateTime. Requires a few joins, but shouldn't be too complicated.

[2015-12-09 22:32] ZachYoshikawa commented on #141
As discussed, should be good to go now.

[2015-12-09 22:33] ZachYoshikawa commented on #139
Humans are now People. ^_^

[2015-12-10 13:43] AmberSJones commented on #139
Excellent.

[2015-12-10 13:43] #139 closed

[2015-12-10 13:56] AmberSJones commented on #141
Maybe I wasn't totally clear in our conversation- can we have the text resized as the screen is made smaller so that the 'Create New' box remains in the window without having to scroll? If that's not possible, maybe the best solution is to move the 'Create New' box to the left of the text.

[2016-01-06 23:16] ZachYoshikawa commented on #116
Retrieval Form input
- dateTime (required)
- Select a method (instrumentRetrieval or equipmentRetrieval) (required)
- Action description (optional)

[2016-01-06 23:30] AmberSJones commented on #116
We resolved to select a deployment and then use the 'Retrieve' button rather than create a retrieval action and then select the deployment. We could implement the latter option at a later date if desired.

[2016-01-20 19:31] AmberSJones commented on #130
I think this has been addressed. I'm putting a ready for testing label on this. I'll test it with the rest of the issues when they are ready.

[2016-01-22 22:01] jcaraballo17 commented on #117
This is finally done.

[2016-01-25 20:19] jcaraballo17 commented on #134
Figured out why there were duplicates, and fixed query to return the equipment that was deployed at the site at the moment the site visit occurred.

[2016-01-25 20:20] jcaraballo17 commented on #96
Yes, I believe this issue can be closed.

[2016-01-25 20:20] #96 closed

[2016-01-26 19:29] #130 closed

[2016-01-26 19:31] AmberSJones commented on #141
Really minor, but we need a period after the link in the Description paragraph.
![image](https://cloud.githubusercontent.com/assets/5023186/12592217/bd6c6038-c428-11e5-9d48-ab992b840e79.png)

[2016-01-26 19:36] AmberSJones commented on #134
The duplicates are addressed- I think that the query that filters the equipment is working. However, the 'Show all equipment' button is not functional.

[2016-01-26 19:48] jcaraballo17 commented on #134
The 'Show all equipment' button is working, it just takes some time to load all the equipments. I'll refactor it when I finish the issue I'm working on right now.

[2016-01-26 20:05] AmberSJones commented on #117
This is all great! A few things outstanding:

- The form needs to be implemented for the 'Create Deployment Action' also:
![image](https://cloud.githubusercontent.com/assets/5023186/12593228/3737dbbe-c42d-11e5-8c6b-c5c49427256a.png)

- We need to filter the possible InstrumentOutputVariables based on the equipment selected (link on ModelID):
![image](https://cloud.githubusercontent.com/assets/5023

[2016-01-26 20:07] AmberSJones opened #144 "Button Not Working on Site Visit Summary Page"
After the creation of a Site Visit, the summary page is displayed. The 'Edit this Site Visit' button just goes to the creation of a new site visit- not the editing of that site visit.

![image](https://cloud.githubusercontent.com/assets/5023186/12593320/b73accfe-c42d-11e5-9740-19fb3b759d17.png)

[2016-01-26 20:10] AmberSJones opened #145 "Action Type selection should filter Methods"
MethodType and ActionType are identical. When an ActionType is selected, the Methods list should be filtered to only display Methods of that ActionType/MethodType.

[2016-01-26 20:12] AmberSJones commented on #58
I think this is resolved with Issue #117 . Closing.

[2016-01-26 20:12] #58 closed

[2016-01-26 20:18] AmberSJones opened #146 "Create New Deployment: Need to make all Equipment Available for selection"
For calibrations and other action creation, we are filtering the equipment list to only show what is deployed at the site. For creating new deployments, we need to display ALL equipment.

[2016-01-27 18:30] jcaraballo17 commented on #134
Show all equipment button works faster now.

[2016-01-27 18:48] AmberSJones commented on #134
Great! Closing.

[2016-01-27 18:48] #134 closed

[2016-01-29 22:16] jcaraballo17 commented on #117
The selection of Equipment Used now filters the Instrument Output Variables and the Units.

[2016-02-01 22:41] jcaraballo17 commented on #145
There's not a method for each methodtype in the database, so when you select an action type in the action form, sometimes the Method field has no values to select and it is a required field. What should I do in that case?

[2016-02-02 21:29] jcaraballo17 commented on #73
This issue has been resolved by #134 and #117

[2016-02-02 21:29] #73 closed

[2016-02-02 22:30] AmberSJones commented on #145
We need some sort of message to come up to say that there are no Methods of that type and prompt to select another Action Type.

[2016-02-03 20:33] AmberSJones commented on #146
Great. Closing.

[2016-02-03 20:33] #146 closed

[2016-02-03 20:44] AmberSJones commented on #145
Closing this issue. The outstanding work of adding a message and adding Methods will be added as a separate issue.

[2016-02-03 20:44] #145 closed

[2016-02-03 20:51] AmberSJones opened #147 "Ability to create methods"
We need to add the ability to create methods.

[2016-02-03 20:55] AmberSJones opened #148 "No Methods for selected ActionType"
We need a of message to appear if there are no Methods for a selected ActionType and prompt to select a different Action Type. I think the text should say "No Methods exist for that Action Type. Select a different ActionType or create a new Method."

[2016-02-03 20:56] AmberSJones commented on #147
I am vacillating on whether or not we should implement this. Wait on it for now.

[2016-02-03 22:08] AmberSJones commented on #110
Just need to add the ReferenceMaterialValue field from the ReferenceMaterialValues table.

[2016-02-03 23:21] AmberSJones commented on #99
Seems to be working well. Closing.

[2016-02-03 23:21] #99 closed

[2016-02-03 23:29] AmberSJones commented on #117
Great! I'm closing.

[2016-02-03 23:29] #117 closed

[2016-02-03 23:48] AmberSJones commented on #144
I continue having issues with this. The 'Edit this Site Visit' button works and allows me to save, but I often get a '500 Server Error'. I think that it may occur when I try to add another Action when editing the Site Visit.

Additional strange behavior: I create a Site Visit with some Actions. I hit the button to Edit that Site Visit. I perform some edits. I hit 'Update'. I get errors- the Equipm

[2016-02-03 23:51] AmberSJones opened #149 "Create New Deployment Form Needs to Specify Action Type"
The Create New Deployment form needs to allow for the selection of the ActionType. It should be restricted to either Equipment Deployment or Instrument Deployment. Only Actions of type Instrument Deployment should include the Results component.

[2016-02-04 00:02] AmberSJones opened #150 "Actions that Do/Don't Require Equipment"
Currently, all actions require the Equipment Used be populated. The only actions that should require Equipment Used are those of types Equipment Maintenance, Equipment Programming, Equipment Retrieval, Instrument Retrieval, Instrument Calibration, Equipment Deployment, and Instrument Deployment.

[2016-02-05 19:46] ZachYoshikawa commented on #141
Nice catch! Fixed.

[2016-02-05 23:35] AmberSJones commented on #141
Thanks! Closing.

[2016-02-05 23:35] #141 closed

[2016-02-10 12:58] AmberSJones commented on #110
Great, closing.

[2016-02-10 12:58] #110 closed

[2016-02-10 13:01] AmberSJones commented on #148
This is great. Can we move the Method field so that it is immediately below ActionType?

[2016-02-10 13:07] AmberSJones commented on #149
Great, closing!

[2016-02-10 13:07] #149 closed

[2016-02-10 13:14] AmberSJones commented on #150
Great, closing.

[2016-02-10 13:14] #150 closed

[2016-02-10 13:47] AmberSJones commented on #118
This is great. The only issue with the implementation- when trying to edit a site visit to which an annotation has been added, the annotations associated with the action are not edit-able.

[2016-02-10 20:14] AmberSJones commented on #116
We need to create 1. an independent retrieval form called by the 'Retrieve' button, and 2. a retrieval form under the Site Visit form, which will require the user to select a deployment to retrieve. For the deployment, the fields that should be displayed are: StartDateTime, SiteCode, EquipmentSerialNumber, EquipmentType, ManufacturerName, ModelPartNumber.

[2016-02-10 23:13] AmberSJones opened #151 "Restrict Equipment Used for each Deployment Action to be 1:1"
In order for retrievals to function correctly, we need to constrain the equipment used for a deployment. Instead of a deployment using multiple pieces of equipment, a deployment should only use one piece of equipment. So, deployments of multiple equipment require multiple deployment actions.

This could either be done by 1. only permitting the selection of a single piece of equipment on the deploy

[2016-02-13 00:21] ZachYoshikawa commented on #148
It is done.

[2016-02-13 00:22] ZachYoshikawa commented on #151
I am going with choice 1. :)

[2016-02-16 20:41] #148 closed

[2016-02-16 20:59] ZachYoshikawa commented on #151
I'm fixing it right now.

[2016-02-16 23:34] jcaraballo17 opened #152 "Equipment Used in the Site Visit edit form"
When editing a Site Visit, the Equipment that was previously entered for each action is no longer selected.

[2016-02-16 23:35] jcaraballo17 commented on #144
Moved this to issue #152 for organization purposes.

[2016-02-16 23:35] #144 closed

[2016-02-16 23:38] jcaraballo17 opened #153 "Results and Annotations form when editing a Site Visit"
When editing a Site Visit, the template doesn't render the Results and the Annotations forms.

[2016-02-16 23:40] jcaraballo17 commented on #118
Closing this and moving this problem to issue #153.

[2016-02-16 23:40] #118 closed

[2016-03-01 16:57] AmberSJones opened #154 "Retrieval Refinements: Filtering only active deployments"
If I initiate a Retrieval by clicking on the ‘Retrieve’ button, then the ‘Deployment’ should be selected on the ‘Create Retrieval Action’ form but it doesn't always happen. This may be because the deployment already has an end date- so the 'Retrieve' button should be hidden from deployment detail if it's not current.

[2016-03-01 17:00] AmberSJones opened #155 "Retrieval Refinements: Filtering sites and deployments"
If I initiate a Retrieval by clicking on the ‘Retrieve’ button, then the ‘Deployment’ should be selected on the ‘Create Retrieval Action’ form. It is initially populated, but then when I select the SiteVisit, the deployment is de-selected.

It is happening because when you select a deployment then select a site visit, the deployment field is cleared because the deployments are filtered by the site

[2016-03-01 17:01] AmberSJones commented on #155
![image](https://cloud.githubusercontent.com/assets/5023186/13434796/6e3ee940-df94-11e5-9564-cab7c2950db4.png)

![image](https://cloud.githubusercontent.com/assets/5023186/13434814/7b252872-df94-11e5-8610-cb3554004d94.png)

[2016-03-01 17:16] AmberSJones opened #156 "Retrieval Refinements: Filtering the deployments by the selected method and vice versa"
The ActionType of Equipment or Instrument Retrieval should be automatically selected based on the deployment selected- whether it was an Equipment or Instrument Deployment. This should also occur in reverse- if Equipment or Instrument Retrieval is selected, the possible deployments should filter based on the type of deployment. I think there may be some filtering implemented, but it seems like it

[2016-03-01 17:22] AmberSJones commented on #151
Ok- I think this is addressed. Closing.

[2016-03-01 17:22] #151 closed

[2016-03-01 17:29] AmberSJones opened #157 "New Site Visit Form: Changing Action Type needs to change the other fields"
When an Action Type is selected on the Create Site Visit form, the other fields change depending on the Action Type selected. However, there are some cases where the fields don't necessarily update. I've noticed this particularly when going from a retrieval to a deployment- the Equipment Used field is no longer there:

![image](https://cloud.githubusercontent.com/assets/5023186/13435630/6eb885da-d

[2016-03-01 17:41] AmberSJones commented on #152
This seems to be addressed. Closing.

[2016-03-01 17:42] AmberSJones commented on #153
This appears to be addressed. Closing.

[2016-03-01 17:42] #153 closed

[2016-03-01 17:42] #152 closed

[2016-03-02 00:57] jcaraballo17 commented on #154
This problem was part of issue #155, closing.

[2016-03-02 00:57] #154 closed

[2016-03-02 01:03] jcaraballo17 commented on #156
It currently works that way, but not the other way around. Working on it!

[2016-03-02 17:42] jcaraballo17 commented on #157
Solved this issue unintentionally in commit f29da495b08f79875897b2dc47a50916b3105bf4.

[2016-03-03 13:24] AmberSJones commented on #155
This is still occurring for me.

[2016-03-03 13:30] AmberSJones commented on #155
In fact, after a select a Site Visit and the Deployment is no longer selected, the Deployment that I want to select is not available. I am trying to do a Retrieval of Equipment and not Instruments, but it looks like only Deployments that involve Sensors are available.

![image](https://cloud.githubusercontent.com/assets/5023186/13495684/5b9e9c2e-e109-11e5-9b1a-00ef704ea5c7.png)
![image](https://cl

[2016-03-03 13:43] AmberSJones commented on #156
I can't test this. I think there is some filtering occurring on the Deployments even without a Method selected- it seems that none of the Equipment that was deployed as MethodType Equipment Deployment is being shown.

Also, it does not permit me to select the method first so that I can use the Method to filter Deployments.

[2016-03-03 13:46] AmberSJones commented on #157
Great, closing.

[2016-03-03 13:46] #157 closed

[2016-03-03 13:50] AmberSJones commented on #156
Interestingly, this is functional when implementing a Retrieval on the Site Visit form, but not on the Retrieval form.

[2016-03-08 17:53] AmberSJones commented on #156
I think this is all addressed. Closing.

[2016-03-08 17:53] #156 closed

[2016-03-08 18:38] AmberSJones commented on #155
Got it! Closing.

[2016-03-08 18:38] #155 closed

[2016-03-08 18:39] AmberSJones commented on #116
I'm closing this issue. Retrievals appear to be functional- any issues that may crop up are smaller and should be posted separately.

[2016-03-08 18:39] #116 closed

[2016-03-08 18:57] AmberSJones opened #158 "Begin DateTime of Retrieval Action"
The BeginDateTime of a Retrieval Action should be the Begin DateTime of the selected site visit.

![image](https://cloud.githubusercontent.com/assets/5023186/13612472/f20a14b2-e524-11e5-80e5-0416fb509304.png)

[2016-03-08 19:00] AmberSJones opened #159 "Do not filter equipment when trying to add a deployment"
Trying to add a deployment, it is filtering ‘Equipment Used’ to be the equipment at that site. For a deployment, all equipment should be available for selection. This is on the Create Site Visit form as well as the stand alone Create Deployment form.

[2016-03-08 19:01] AmberSJones opened #160 "Date Time Picker should be consistent"
The Date Time Picker should be consistent and show Date and Time for selection in all cases.

![image](https://cloud.githubusercontent.com/assets/5023186/13612576/687ca592-e525-11e5-893c-c4a823f04c55.png)

![image](https://cloud.githubusercontent.com/assets/5023186/13612579/6e720352-e525-11e5-927e-19893624d718.png)

[2016-03-08 19:08] AmberSJones opened #161 "Instrument Output Variable when Creating Calibration"
When creating a calibration, the Instrument Output Variable should be required. Furthermore, when I am trying to create a calibration, there is no Instrument Output Variable available to select:

![image](https://cloud.githubusercontent.com/assets/5023186/13612738/4b40deca-e526-11e5-9ad6-b2fafd4dd9e2.png)

[2016-03-08 19:11] AmberSJones opened #162 "Extra field when creating new annotation"
When trying to create a new annotation, there is an 'Annotation' selection box. This should only be there for selecting an existing annotation:
![image](https://cloud.githubusercontent.com/assets/5023186/13612860/d9b9702c-e526-11e5-802c-049242e00dc1.png)

[2016-03-08 19:35] AmberSJones opened #163 "Creating a Site Visit Failing"
I just tried to create a site visit that included several child actions and several annotations. The site visit is not being created, and I am not getting an error- the screen just flashes. I have tried stripping it down to determine which action or annotation might be causing the issue- it seems that including ANY child action will not create the site visit.

[2016-03-08 19:36] AmberSJones opened #164 "Weirdness is the Site Visit Summary page"
The parsing of the details in the Site Visit Summary page is strange. Some elements are not on new lines, the crew is split up, and the Annotations are repeated.

![image](https://cloud.githubusercontent.com/assets/5023186/13613684/67138928-e52a-11e5-8ed7-dfc9cca663d3.png)

[2016-03-08 19:40] AmberSJones opened #165 "Erroneous requirement of equipment"
I'm trying to add child actions on the Add Site Visit form. I am getting the below error saying that Equipment Used is required, which it shouldn't be for actions of type 'Field Activity'. Equipment should only be required for actions of type Equipment deployment, Equipment maintenance, Equipment programming, Equipment retrieval, Instrument calibration, Instrument deployment, and instrument retrie

[2016-03-08 20:00] AmberSJones opened #166 "Server Error"
I'm getting 500 - Internal server error when trying to use the Create Calibration form.

[2016-03-08 20:05] AmberSJones opened #167 "Action Details page typo"
The 'Edit Actions Description' button should be titled 'Edit Action Description'.

![image](https://cloud.githubusercontent.com/assets/5023186/13614552/5d2226b4-e52e-11e5-84f6-9efbce7ebdf5.png)

[2016-03-08 20:09] AmberSJones opened #168 "'Edit Deployment Description' undoes a retrieval"
If an equipment has been retrieved and then its deployment is edited (i.e., 'Edit Deployment Description') on the Deployment Details page), then the retrieval is undone/removed.

[2016-03-08 20:10] AmberSJones opened #169 "Need better title for Deployment Details page"
The deployment details page is using the equipment ID as part of the title. How about just 'Deployment History' as all of the important information on the equipment is shown in the table.

![image](https://cloud.githubusercontent.com/assets/5023186/13614504/1edbca04-e52e-11e5-99fa-ff195f026499.png)

[2016-03-08 20:17] AmberSJones opened #170 "Action Details page issues"
I created a generic action. There are several issues with the Action Details page.
- [x] the people that were part of the action should be shown (should inherit from the Site Visit).
- [x] The 'Go to Site Visit' button is not functional.
- [x] The 'Edit Action Description' button is not functional.
- [x] The Equipment Used is not being shown.
- [x] Other misc fields are not being shown- e.g., Main

[2016-03-08 20:21] AmberSJones opened #171 "Another server error"
When trying to create a generic action of type 'Specimen collection':
![image](https://cloud.githubusercontent.com/assets/5023186/13614979/5526be82-e530-11e5-81e3-852e0dd5e9a4.png)

[2016-03-08 20:24] AmberSJones opened #172 "Create Equipment Page issues"
On the Create/Edit Equipment page, there are a number of issues:

- [x] The Equipment Purchase Date field needs to be parsed out
- [x] Several fields need to be added: Equipment Name and EquipmentDocumentationLink
- [x] Instead of Equipment Organization, it should be Equipment Vendor.

![image](https://cloud.githubusercontent.com/assets/5023186/13617882/30946b9c-e53e-11e5-9229-aa0b74dad8b4.png)

[2016-03-08 20:26] AmberSJones opened #173 "Equipment Details Page"
One the Equipment Details page, there is a block for Equipment Description, one for Owner, one for Manufacturer, and one for Organization with a list of all People with Affiliations with that Organization. I don't think that we need the Organization block. Let's remove it unless we know why it is there?

![image](https://cloud.githubusercontent.com/assets/5023186/13615176/590ed8d0-e531-11e5-9de5-2

[2016-03-08 20:28] AmberSJones opened #174 "Another server error- trying to edit equipment"
When trying to edit an Equipment, the result is a server error.

![image](https://cloud.githubusercontent.com/assets/5023186/13615235/96501718-e531-11e5-91df-356638415f50.png)

[2016-03-08 20:32] AmberSJones opened #175 "Site Details page should include Site Description"
The Site Details page does not include the Site Description.

![image](https://cloud.githubusercontent.com/assets/5023186/13615355/26af61a6-e532-11e5-8225-cb1144c9352e.png)

[2016-03-08 20:35] AmberSJones opened #176 "New Site Visit button should populate Site Information"
The New Site Visit button on the Site Visits page for a particular site should populate with that site. This is also true for the New Deployment button on the Deployments for that particular site.

![image](https://cloud.githubusercontent.com/assets/5023186/13615416/826820b4-e532-11e5-8601-b3a96c09c483.png)

![image](https://cloud.githubusercontent.com/assets/5023186/13615665/c6eb2b0e-e533-11e5-92

[2016-03-08 20:42] AmberSJones opened #177 "'New Deployment Measured Variable' button gives server error"
This button on the Site Details page is giving a server error. If it is easy to address, great. If not, we should probably remove the button. I don't think that we need this functionality yet.

![image](https://cloud.githubusercontent.com/assets/5023186/13615597/7530e646-e533-11e5-810b-4d06bb9b6c4b.png)

![image](https://cloud.githubusercontent.com/assets/5023186/13615610/84092a48-e533-11e5-8051-a

[2016-03-08 20:45] AmberSJones opened #178 "Server error trying to create a site"
I am getting a server error when I try to create a site.

![image](https://cloud.githubusercontent.com/assets/5023186/13615724/fee73372-e533-11e5-8b3d-896315a3f9fa.png)

[2016-03-08 21:08] AmberSJones opened #179 "Methods Issues"
There are a few issues with the Methods table view as well as the Edit Methods form:

- [x] The title of the table view should be 'Methods' not 'Calibration Methods'
- [x] The 'New Calibration Method' button should be 'New Method'. The title on that form should also be edited.
- [x] The title of the form should be 'Update Method' not 'Update Calibration Method'
- [x] The Method Name field should b

[2016-03-08 21:10] AmberSJones opened #180 "Editing a Calibration Standard Creates a New Entry"
I tested the editing of a calibration standard. Instead of simply editing, it created a new entry.

![image](https://cloud.githubusercontent.com/assets/5023186/13616551/8f17375a-e537-11e5-8816-2956e6ec4855.png)

[2016-03-08 21:14] AmberSJones opened #181 "Server error when trying to delete a calibration standard"
I tried to delete a calibration standard:

![image](https://cloud.githubusercontent.com/assets/5023186/13616653/15227198-e538-11e5-8bed-4e2ec12b86c3.png)

[2016-03-08 21:24] AmberSJones opened #182 "Unable to Edit an Action"
On the 'Actions' list page, the edit button does not work. Furthermore, the action cannot be edited from the Action details page.

![image](https://cloud.githubusercontent.com/assets/5023186/13616734/6cb69b82-e538-11e5-83e0-9d1777c5f07a.png)

On the 'Deployments' list page, the Edit button takes me to the form to create a generic action.

Editing on the other lists seems to work fine.

[2016-03-08 21:28] AmberSJones opened #183 "Calibration Details page"
There is some weird alignment on this page. The boxes are farther left than the table above, and the text about the reference equipment is not with the reference equipment header. Also, the 'Go to Site Visit' button does not work.

![image](https://cloud.githubusercontent.com/assets/5023186/13617020/d5d01e58-e539-11e5-9b5d-2de9ff294898.png)

[2016-03-08 21:32] AmberSJones opened #184 "'Go to Site Visit' button not functional"
On several of the Action Details pages (calibrations, deployments, etc.), there is a 'Go to Site Visit' button. It appears that none of these are functional. We need to make them functional or remove them.

[2016-03-08 21:48] AmberSJones commented on #163
Later I revisited the details of this site visit, and it seems like at least some of the child actions were added.

[2016-03-08 21:52] AmberSJones commented on #167
This is addressed in issue #170

[2016-03-08 21:52] #167 closed

[2016-03-08 21:59] AmberSJones commented on #173
Update: I think it should be labeled Vendor instead of Organization.

[2016-03-08 22:09] AmberSJones opened #185 "Case where equipment not being filtered on calibration action form"
From a site visit details page, I clicked on 'Add calibration'. It brought me to the Create Calibration page. The equipment is not being filtered for that site. Equipment filtering is also not occurring for the Create Generic Action page.

![image](https://cloud.githubusercontent.com/assets/5023186/13618143/b0130d78-e53f-11e5-85ee-69ad56a6155e.png)

[2016-03-08 22:12] AmberSJones opened #186 "New actions from site visit page not restricting date times"
On the Site Visit details page, I clicked on 'Add New Deployment' (or 'Add new Calibration' etc.). The begin and end date times should default and be restricted to the begin and end date times of that site visit.

![image](https://cloud.githubusercontent.com/assets/5023186/13618221/267496f8-e540-11e5-95b0-097669df1a6d.png)

[2016-03-09 00:14] jcaraballo17 commented on #185
I don't see this happening even on the sandbox server and with the same site visit. A web service is called to get the equipment used in a site when you select a site visit, maybe it took a little bit more than usual to load?

[2016-03-09 16:48] AmberSJones commented on #185
I'm still experiencing it. Let's take a look at it together.

[2016-03-09 22:13] jcaraballo17 commented on #162
What if you select 'New Annotation' and the field disappears and then you change your mind and want to select an existing annotation?

[2016-03-09 22:27] AmberSJones commented on #162
Then you can just hit the 'Remove Annotation' button and then hit the 'Add Annotation' button. Not too difficult.

[2016-03-09 22:40] jcaraballo17 commented on #162
Alright.

[2016-03-15 23:05] #160 closed

[2016-03-15 23:05] #162 closed

[2016-03-15 23:06] #169 closed

[2016-03-15 23:08] #183 closed

[2016-03-15 23:08] #175 closed

[2016-03-15 23:10] #173 closed

[2016-03-15 23:11] #184 closed

[2016-03-15 23:12] #172 closed

[2016-03-15 23:14] #179 closed

[2016-03-16 12:16] #158 closed

[2016-03-16 12:20] #159 closed

[2016-03-16 12:25] AmberSJones commented on #161
Now there are Instrument Output Variables for selection, but it still needs to be a required field.

[2016-03-16 12:37] AmberSJones commented on #163
This is still occurring for me. One thing that is interesting, if I have a calibration, it clears the Equipment that I had selected and tells me that an equipment needs to be provided. If I don't have a calibration, it still flashes and stays on the Site Visit form.
![image](https://cloud.githubusercontent.com/assets/5023186/13812379/6afcabce-eb41-11e5-9c08-d6fd99c2e292.png)

[2016-03-16 12:41] AmberSJones commented on #164
The repeated Annotations is addressed. The DateTimes are still strange, but I think that could be addressed by shifting the divider between the 'Site Visit Details' column and the elements to the left.

[2016-03-16 12:42] #165 closed

[2016-03-16 12:46] #166 closed

[2016-03-16 12:49] AmberSJones commented on #168
This is still occurring for me.

[2016-03-16 12:53] #170 closed

[2016-03-16 12:55] AmberSJones commented on #171
This is still occurring for me.

[2016-03-16 12:57] #174 closed

[2016-03-16 13:00] AmberSJones commented on #176
The site field is now populated when creating a site visit. The site visits are also filtered when creating a new deployment from the site detail page, however, the site seems to be filtering incorrectly as the site visits that I see are from the wrong site. Trying to do this for the site LR_FB_BA:
![image](https://cloud.githubusercontent.com/assets/5023186/13813025/cc89aab0-eb44-11e5-8e5a-ff67e6c

[2016-03-16 13:02] #177 closed

[2016-03-16 13:03] #178 closed

[2016-03-16 13:07] #180 closed

[2016-03-16 13:07] #181 closed

[2016-03-16 13:09] #182 closed

[2016-03-16 13:13] #185 closed

[2016-03-16 13:15] #186 closed

[2016-03-16 16:10] AmberSJones opened #187 "Updating Equipment"
When trying to Update Equipment, the Equipment Vendor and Equipment Model are reset.

![image](https://cloud.githubusercontent.com/assets/5023186/13819490/480d24a4-eb5f-11e5-8573-57ed614412d7.png)

[2016-03-16 16:31] AmberSJones opened #188 "Updating Action- Maintenance Details"
When I try to update/edit a generic action, the Maintenance Code and Maintenance Reason get reset.

![image](https://cloud.githubusercontent.com/assets/5023186/13820251/19dfc25a-eb62-11e5-949d-95ac2f817d28.png)

[2016-03-16 16:39] AmberSJones opened #189 "Server Error when trying to update Generic Action"
I get a server error when trying to update a generic action. Once in a while the edit/update works, but usually it gives Server Error. I think it may have to do with adding equipment or not, but I can't identify a pattern with it.

![image](https://cloud.githubusercontent.com/assets/5023186/13819912/d2a07a2a-eb60-11e5-8057-d5dcd26b77b5.png)

[2016-03-16 16:40] AmberSJones commented on #189
This may be the same as issue #171

[2016-03-22 16:27] SRGDamia1 opened #190 "Create conda package with requirements"
Have you looked into packaging the required packages for this into a single conda package?  I tried running this on my computer and hit snags related to the Django version.  It would be nice to be able to use conda to get everything together all at once.

[2016-03-22 16:38] SRGDamia1 opened #191 "Migrate to newest Django version"
Currently the requirements are for 1.7.4.  The current version of Django is 1.9.4.  Extended support for version 1.7 ended in December 2015.  (https://www.djangoproject.com/download/)

I found at least one error in the forms when trying to deploy on Django 1.9.

[2016-03-22 22:01] ZachYoshikawa commented on #187
Should be good to go now.

[2016-03-24 19:43] ZachYoshikawa commented on #163
The site visit will update properly now. However, if a required field is removed, it will do the flashy thing and weirdly change from "Update Site Visit" to "Create Site Visit". The results action also needs to be validated in our code (super easy). @jcaraballo17 Since you are updating the results, could you look at the actions-form.html template? Maybe you can see why it is redirecting in a stran

[2016-03-24 19:53] ZachYoshikawa commented on #189
This issue appears to be the same as #171 . The javascript function in comomon_forms.js was not filtering the equipment used section correctly. It is fixed now.

[2016-03-24 19:53] ZachYoshikawa commented on #171
Same issue as #189 . Closing

[2016-03-24 19:53] #171 closed

[2016-03-24 23:03] ZachYoshikawa commented on #164
This is what I see on my screen. It is readable for me. What is it about the column you don't like?

![sitevisitdetails](https://cloud.githubusercontent.com/assets/14823701/14033735/4c814482-f1e2-11e5-823d-4212a9899245.PNG)

[2016-03-24 23:32] ZachYoshikawa commented on #147
@AmberSJones We already implemented the creation of Methods. The button can be accessed through Actions -> Methods.

[2016-03-25 03:35] ZachYoshikawa commented on #168
@AmberSJones The Site Visit Details page now links to the correct Deployment Details page. I created Methods for Equipment and Instrument Deployments as well as Retrievals on the Sandbox Server. This should enable full testing of the retrieval functionality. I hope it works for you now! Thanks for being patient. :)

[2016-03-25 03:58] ZachYoshikawa commented on #147
@AmberSJones The functionality to create and delete Method Types already exists. It's as easy as placing buttons on the table to do so.

[2016-03-28 16:46] AmberSJones commented on #147
Ok. Let's add the buttons, then!

[2016-03-28 16:51] #161 closed

[2016-03-28 17:01] AmberSJones commented on #163
I'm still experiencing this issue.

Sometimes I am getting the flash and the change from "Update Site Visit" to "Create Site Visit" that @ZachYoshikawa mentioned. (All required fields are present, however.)

Other times when I add an action to an existing site visit, it takes me to the Site Visit Summary and it has failed to add the action to that Site Visit.

[2016-03-28 17:23] AmberSJones commented on #168
I can't test the original issue here. @ZachYoshikawa , as I'm getting a new error. See the below workflow. I'm not sure about what you are referring to in your previous comment as I'm not using the Site Visit Details page for this issue. Here's what's happening for me:

1. Go to Deployment Details page:
![image](https://cloud.githubusercontent.com/assets/5023186/14084297/51a21962-f4d7-11e5-84df-a8

[2016-03-28 17:26] #176 closed

[2016-03-28 17:27] AmberSJones commented on #164
I suggest making the left column narrower so that there is more room for the information in the right column. The text in the left column can wrap if needed, but there should be plenty of room for it as that text is typically very short.

[2016-03-28 17:30] #187 closed

[2016-03-28 17:33] #188 closed

[2016-03-28 17:49] AmberSJones commented on #189
This is still occurring for me. I can now successfully edit generic actions, but I get server error when creating. It appears to only occur for actions for which I don't specify equipment (i.e., it is not required to specify equipment for actions of type specimen collection or field activity).

![image](https://cloud.githubusercontent.com/assets/5023186/14084971/7ea856c6-f4da-11e5-8f39-a122abc5c9e

[2016-03-28 18:02] AmberSJones opened #192 "Deployments End Date "not defined""
If a deployment has no end date, then it is currently deployed. We used to display "Present" or "Current" for the end date on the Deployment Details page. Right now we are displaying "Not Defined".

![image](https://cloud.githubusercontent.com/assets/5023186/14085283/321130f6-f4dc-11e5-9341-011e6e7b67d7.png)

[2016-03-28 18:05] AmberSJones opened #193 "Results Block changes margins/alignment"
Whenever an action of type instrument deployment is selected for addition on the New Site Visit form, a block is created for the addition of Results. This is good. What is not good is that it changes/shifts/narrows the alignment of all elements of the entry form.

Before:
![image](https://cloud.githubusercontent.com/assets/5023186/14085489/6185d976-f4dd-11e5-8e22-907e3c9af849.png)

After:
![image]

[2016-03-28 18:08] AmberSJones opened #194 "Equipment not being filtered"
@jcaraballo17 - I know that you have implemented this and fixed it and probably fixed it again. So, for no obvious reason, equipment is no longer being filtered by site and datetime. This should be occuring for all actions except for deployments. Have we reverted to some older code?!

![image](https://cloud.githubusercontent.com/assets/5023186/14085548/b72f3a84-f4dd-11e5-987d-935009b85dc2.png)

[2016-03-28 18:13] AmberSJones opened #195 "Spacing on Details pages"
There is some funky spacing/alignment on some of the Details pages- the left-most columns are disproportionately wide and the right columns are too narrow. This is new- I thought the margins seemed good previously. Also, when equipment is shown, the "Show Instrument Measured Variables" and "Show Related Equipment" buttons are strangely narrow.

![image](https://cloud.githubusercontent.com/assets/5

[2016-03-28 18:29] AmberSJones commented on #163
I am always unsuccessful in trying to create a SiteVisit with a few nested actions from scratch. In particular, if there is any equipment selected for an action, it gets reset and the form tells me that the field is required. Note that this was all complete and correct before clicking "create"! I have also had a few cases of server error (which I think is probably related to creating actions that

[2016-03-28 22:01] ZachYoshikawa commented on #168
That workflow works on my development server, but not on sandbox. I'm sorry I didn't catch this sooner. I think sandbox has issues with its static files, even though we have been updating them. I'll look into it.

[2016-04-08 17:24] jcaraballo17 opened #196 "Change settings configuration"
Make the settings files easier to setup and more adaptable to different DBMSs.

[2016-04-08 20:51] jcaraballo17 commented on #163
@AmberSJones, is it possible to come up with a way of replicating the original error where the actions are not added to the site visit? I've tried everything on my local machine and the sandbox server and cannot make it happen.

[2016-04-15 03:09] jcaraballo17 commented on #163
The bug which redirected to the site visit form after clicking on Create or Update was caused by the Equipment and Method fields' validation. Also, when editing a site visit, the actions in the form were always created as new actions, and the ones already linked to the site visit were not being updated. Those new actions did not get linked through the RelatedAction table, so the site visit kept th

[2016-04-15 04:00] jcaraballo17 commented on #168
Editing a deployment action changed, and in some cases deleted, it's end datetime value. This made the deployment be shown as if they were currently deployed, and created some inconsistencies between the deployment and retrieval times.

[2016-04-15 04:03] jcaraballo17 commented on #189
There was something weird with the equipment used validation.

[2016-04-15 04:05] jcaraballo17 commented on #193
Fixed after fixing an error in the javascript code.

[2016-04-15 04:05] jcaraballo17 commented on #194
Fixed equipment filtering.

[2016-04-15 04:22] jcaraballo17 commented on #195
Looks fixed.

[2016-04-15 19:36] #196 closed

[2016-04-15 20:48] jcaraballo17 commented on #191
Required django version changed to 1.9.5

[2016-04-15 20:48] #191 closed

[2016-04-18 23:10] jcaraballo17 opened #197 "Change model used in Person detail page"
The detail page for a Person is actually for an Affiliation. This makes the linking to a person's detail page impossible from the models that are related to Person instead of Affiliation.

An example of this is the Equipment model: it has the owner info, and to link to that person's detail page, the first Affiliation found is used.

[2016-06-07 19:18] #195 closed

[2016-06-07 19:19] #192 closed

[2016-06-07 19:46] #193 closed

[2016-06-07 19:47] #194 closed

[2016-06-07 20:33] AmberSJones commented on #163
I'm still experiencing this issue. I tried to create a new site visit. I included several actions:
1. equipment deployment
2. instrument deployment (with three results)
3. field activity (using no equipment)
4. instrument calibration (using an equipment)

After I hit "Create", the page flashed and it brought me back to the form telling me "This field is required" for the Equipment Used on the Cali

[2016-06-07 20:42] #164 closed

[2016-06-07 20:43] AmberSJones commented on #163
I just created a site visit with only a retrieval action and it was successful.

[2016-06-07 20:55] AmberSJones commented on #168
There is still weirdness occurring related to retrievals being un-done.

I created a deployment and then created a retrieval of that equipment. Here is the record in the deployments table:
![image](https://cloud.githubusercontent.com/assets/5023186/15874180/37ea3138-2cbf-11e6-9aa7-5383a53ccda2.png)

When I go to the deployment details page, the deployment end date is missing:
![image](https://clou

[2016-06-07 21:01] AmberSJones commented on #189
I continue to get server error when I try to edit any generic action for which equipment was used.
![image](https://cloud.githubusercontent.com/assets/5023186/15874502/a912ca0e-2cc0-11e6-85a7-24103dc6a9a3.png)

[2016-06-07 21:10] AmberSJones commented on #189
I can create a generic action that uses equipment, but I cannot edit it.

[2016-06-07 21:20] AmberSJones commented on #163
Also successful: site visit with only an equipment deployment action, site visit with only an instrument deployment action, site visit with only an instrument calibration action.

Then I tried the combination of the three actions as part of the same site visit and got the server error.
![image](https://cloud.githubusercontent.com/assets/5023186/15875026/53c24b08-2cc3-11e6-81a3-c36fac890279.png)

[2016-06-07 21:25] AmberSJones opened #198 "Deployed equipment should not be available for deployment"
Can we add a filter to the equipment available for deployment so that any equipment deployed at the time of that site visit is not available for selection? I think we've discussed this before and determined that it was complicated, but otherwise there is the potential for this sort of thing to occur where the same piece of equipment gets deployed simultaneously at different sites:
![image](https:/

[2016-06-07 21:28] AmberSJones opened #199 "Filter Equipment to only show Sensors for "Instrument" Actions"
When an action that is an "Instrument" action is selected (Instrument calibration, Instrument deployment, Instrument retrieval), the possible "Equipment Used" should be filtered to only show sensors. Otherwise, a battery or solar panel could be erroneously deployed as a sensor/instrument.

[2016-06-07 21:32] AmberSJones opened #200 "Editing an instrument retrieval"
When trying to edit a retrieval action, the deployment is not maintained on the update page. Other details are also missing such as the actual equipment that was retrieved:
![image](https://cloud.githubusercontent.com/assets/5023186/15875372/cbe11316-2cc4-11e6-9415-fa9ca3ef979d.png)

When I hit "Create", then it takes me to this page, which is missing the deployment selection and missing the actio

[2016-06-07 22:23] horsburgh commented on #199
I like this idea.  And we should consider it for additional implementations.  But, it complicates things.  I think we have to trust that users have some level of understanding of what they are doing.  In any case, I wouldn't consider this a bug.  I'm going to change the label to enhancement.

[2016-07-26 22:26] #197 closed

[2016-09-12 21:39] jcaraballo17 commented on #163
If there's still an issue creating a site visit it's probably not related to any of this (there are already several different issues here treated as one).
Can we create a new issue if some error comes up in the testing?

[2016-10-20 19:09] AmberSJones commented on #200
This appears to be addressed.

[2016-10-20 19:09] #200 closed

[2016-10-20 19:15] AmberSJones commented on #198
THis appears to be addressed.

[2016-10-20 19:15] #198 closed

[2016-10-20 19:21] AmberSJones commented on #168
I am trying to edit the same deployment referenced in the above screenshot. The issue now is that the equipment used is not selected on the Update Deployment Action page. I expect to see the 61012011 Rotronic Sensor here.
![image](https://cloud.githubusercontent.com/assets/5023186/19574518/01f501e8-96c8-11e6-8317-4d07a2174dcb.png)

[2016-10-20 19:32] AmberSJones commented on #189
I'm still having this issue. Created a generic action and was then unable to edit it. This is only an issue if the Action uses Equipment.

![image](https://cloud.githubusercontent.com/assets/5023186/19574846/374461bc-96c9-11e6-90d8-bbef3a6d159e.png)

[2016-10-20 20:09] AmberSJones commented on #163
@jcaraballo17 I am happy to create new issues if needed. And WHOA I actually had a new site visit with multiple nested actions CREATE! So, I'll close this issue given some success. However, I have experienced some failures, and will create new issues accordingly.

![image](https://cloud.githubusercontent.com/assets/5023186/19576040/c11130f0-96ce-11e6-8160-65ff37b6e54b.png)

[2016-10-20 20:09] #163 closed

[2016-10-20 20:17] AmberSJones opened #201 "Server Issue when trying to create retrieval"
I am getting server error when trying to create a retrieval. I _think_ this is only occurring with the 'Retrieve' button on the Deployment Details page because I have had success in creating retrievals in other ways.

![image](https://cloud.githubusercontent.com/assets/5023186/19574271/c42ad938-96c6-11e6-89de-c93c54aaed86.png)

[2016-10-20 20:19] AmberSJones opened #202 "Unable to Create Site Visit with multiple nested child actions"
When I try to create a Site Visit with multiple nested child actions, I get server error. This is only sometimes... as noted, I have had some success. I'll try to identify a pattern.

![image](https://cloud.githubusercontent.com/assets/5023186/19575659/ff6b2f88-96cc-11e6-95b2-e6065eb83484.png)

[2016-10-20 20:29] AmberSJones opened #203 "Discrepancy in Equipment when trying to edit Site Visit"
I created this site visit with an equipment deployment.
![image](https://cloud.githubusercontent.com/assets/5023186/19575694/3247adbe-96cd-11e6-82ff-7a48f8bde075.png)

Now I try to edit this site visit. The equipment used is different:
![image](https://cloud.githubusercontent.com/assets/5023186/19575702/3bf61350-96cd-11e6-80a4-d7bda1268425.png)

[2016-10-20 20:50] AmberSJones opened #204 "Weirdness when editing site visit"
I create a site visit. Then, from the summary page, I click on the 'Edit Site Visit' button. Some of the fields are incorrectly populated (for example, there is no equipment selected for the deployments that I created). Furthermore, there are no results being created for the Instrument deployment actions.
![image](https://cloud.githubusercontent.com/assets/5023186/19577431/90c9a1c4-96d4-11e6-89a1-

[2016-10-20 21:15] AmberSJones opened #205 "Weirdness when creating a site visit"
I am trying to create a site visit with multiple nested actions.
- When I hit 'Create', it tells me that the Method fields are required for the nested Equipment Deployment and Instrument Deployment Actions that I tried to add. (Note that these actions _did_ have methods selected.)
- With the error, the form reset any equipment used and associated results that I had selected.
- Now, when I select a

[2016-10-20 21:25] AmberSJones commented on #205
It's bizarre, but so far the only pattern I can find is that when I create a site visit at climate sites, I observe this behavior. I've been successful doing the same thing at aquatic sites.

@jcaraballo17 ?????????

[2017-03-31 23:53] Elijahwalkerwest commented on #168
The issue of it moving to the create page comes from the selected equipment not existing in the database. Should be fixed, because I have also fixed the issue of it not auto populating correctly. It should now properly pull the right equipment from details in to equipment used.

Ready for testing, django-elijah branch

[2017-04-03 21:40] AmberSJones commented on #168
How do I test on different branches for this project? I've only ever tested on the sandbox server.

[2017-04-03 21:42] Elijahwalkerwest commented on #168
Sorry, I'll get that branch merged and ready for testing on the deployment server tomorrow.

[2017-04-03 22:22] AmberSJones commented on #168
No problem.

[2017-04-05 20:30] AmberSJones commented on #201
Yep, it's still occurring.

Go to "Deployments" and select a deployment action. Click on the "Retrieve" button and complete the required fields. I get server error. Here is the deployment that I am trying to retrieve: http://django.uwrl.usu.edu/equipment/actions/deployment-detail/1074/

[2017-04-05 23:55] Elijahwalkerwest commented on #204
This was fixed alongside #168. Currently working on my local env. I will fix a few more of these issues and deploy them altogether to the sandbox for testing.

[2017-04-06 00:38] Elijahwalkerwest commented on #201
Got it. Will mark for testing when deployed to sandbox with other fixes.

[2017-04-06 20:01] Elijahwalkerwest commented on #203
Should be fixed along with #168 fix. Will notify when deployed and ready for testing.

[2017-04-06 21:40] Elijahwalkerwest commented on #201
Ready for testing.

[2017-04-06 21:40] Elijahwalkerwest commented on #204
Ready for testing.

[2017-04-06 21:41] Elijahwalkerwest commented on #203
Ready for testing.

[2017-04-06 23:40] AmberSJones commented on #201
So, now when I try to retrieve, I don't get the error, but the desired behavior is not achieved. I complete the required fields and hit the "Create Retrieval Action" button. The screen flashes and brings me to the generic "Create Retrieval Action" page - so the deployment of interest is now not selected.

[2017-04-06 23:46] Elijahwalkerwest commented on #201
AGh! Ok I will work on that, thank you!

[2017-04-06 23:47] Elijahwalkerwest commented on #201
Hmmm that wasn't happening on my local env. I will get it figured out.

[2017-04-11 12:41] AmberSJones commented on #168
This seems to be addressed.

[2017-04-11 12:41] #168 closed

[2017-04-11 12:45] AmberSJones commented on #203
This appears to be addressed.

[2017-04-11 12:45] #203 closed

[2017-04-11 12:58] AmberSJones commented on #204
This is still occurring for me- with some changes.

I create a site visit. Then, from the summary page, I click on the 'Edit Site Visit' button.
![image](https://cloud.githubusercontent.com/assets/5023186/24910170/243320e8-1e84-11e7-919b-8f176de842a8.png)

The same actions that I had created are there, and the equipment is correctly selected.  However, the "Results" are not as expected. For one ac

[2017-04-11 13:02] AmberSJones commented on #189
This appears to be addressed.

[2017-04-11 13:02] #189 closed

[2017-04-11 18:26] Elijahwalkerwest commented on #202
Haven't been able to replicate it myself. If you replicate it please note how you did so.

[2017-04-13 18:15] Elijahwalkerwest commented on #204
Fixed with latest deployment.

[2017-04-13 18:15] Elijahwalkerwest commented on #201
Fixed with latest deployment.

[2017-04-13 22:43] AmberSJones commented on #204
This appears to be addressed.

[2017-04-13 22:43] #204 closed

[2017-04-13 22:44] AmberSJones commented on #201
I think we may have actually regressed with this one. I'm now getting the error again!

[2017-04-14 13:41] AmberSJones commented on #205
So, I haven't been able to reproduce this in this round of testing, so I am going to close it for now.

[2017-04-14 13:41] #205 closed

[2017-04-14 13:42] AmberSJones commented on #202
I haven't been able to reproduce this exact issue in this round of testing. Closing for now.

[2017-04-14 13:42] #202 closed

[2017-04-14 13:59] AmberSJones opened #210 "Issues creating site visits"
I have been testing creating site visits with multiple nested action and am experiencing issues. I'm not sure if these are related or not. They are similar to issues that we've had in the past that have been addressed/closed. Below are the steps I've followed that have resulted in errors:

1. I successfully create a site visit with a few actions. Below is the summary page. When I click "Edit" from

[2017-04-17 19:23] Elijahwalkerwest commented on #201
Not happening locally, very strange. Looking in to it today.

[2017-04-26 17:02] Elijahwalkerwest commented on #210
Fix deployed an ready for testing.

[2017-04-26 17:02] Elijahwalkerwest commented on #201
Fix deployed and ready for testing.

[2017-04-26 23:15] AmberSJones commented on #201
I haven't seen this work, but I think it should when the database gets fixed for retrievals, so closing.

[2017-04-26 23:15] #201 closed

[2017-04-26 23:17] AmberSJones commented on #210
Number 1 and number 2 seemed fine, but when I went to look at the site visit details page, many of the actions were not there:
![image](https://cloud.githubusercontent.com/assets/5023186/25461091/37dab710-2aa4-11e7-9f8f-39829c107f86.png)

[2017-04-26 23:22] AmberSJones commented on #210
When I try to edit a site visit, in some cases I am able to:
![image](https://cloud.githubusercontent.com/assets/5023186/25461160/9a9def48-2aa4-11e7-8b7e-0d812775c9de.png)
but then I get this error:
![image](https://cloud.githubusercontent.com/assets/5023186/25461207/da037a0e-2aa4-11e7-86d0-632c8479c804.png)

In other cases, I get this error without even letting me go to the edit screen:
![image](

[2017-05-22 18:55] Elijahwalkerwest commented on #199
Implemented and ready for testing. Works for both equipment and instruments.

[2017-05-22 19:10] jcaraballo17 commented on #142
has been fixed for over a year.
closing.

[2017-05-22 19:10] #142 closed

[2017-05-22 19:10] jcaraballo17 commented on #190
yml requirements file for conda added over a year ago.
closing.

[2017-05-22 19:10] #190 closed

[2017-05-23 23:11] AmberSJones commented on #199
I'm not observing this functioning. Has it been pushed to the sandbox server?

[2017-05-25 20:32] Elijahwalkerwest commented on #199
The battery and solar panel that are showing up when filtering by instrument are in fact, in the database ,marked with equipmentmodelid 3, that equipmentmodelid is in fact marked as IsInstrument = true in the database.

That is equipment ID 1769, and 667

[2017-05-25 20:43] Elijahwalkerwest commented on #199
In addition, I want to double check. This specific filtering should only be for deployments, right? Calibration and maintenance filter by what is deployed at the site, they should not be filtering this way, right? Or do you want an additional layer of filtering that filter by site AND by isInstrument

[2017-05-25 20:51] AmberSJones commented on #199
I can take a look at those particular pieces of equipment that may be incorrectly identified by "IsInstrument".

In the cases of calibrations, maintenance, etc., the desired functionality is to have the equipment filtered by site as well as by equipment type (see the original issue), so yes, two layers of filtering.

[2017-05-25 21:17] Elijahwalkerwest commented on #199
Have the second level filtering working. Will push tomorrow after I get the delete action functioning so you can test both.

[2017-05-31 20:32] Elijahwalkerwest commented on #143
Implemented and pushed to sandbox.

[2017-05-31 20:32] Elijahwalkerwest commented on #38
This is implemented alongside deleting an action.

[2017-06-01 16:00] AmberSJones commented on #199
This is looking good. Closing.

[2017-06-01 16:00] #199 closed

[2017-06-01 16:01] #147 closed

[2017-06-01 16:10] AmberSJones commented on #38
This seems to be working well. I'm wondering- if a deployment is deleted that has result associated with it, are the results also deleted?

[2017-06-01 16:10] #38 closed

[2017-06-01 16:10] #143 closed

[2017-12-15 23:27] Elijahwalkerwest opened #215 "Hyperlink to Owner of Equipment goes nowhere."
http://django.uwrl.usu.edu/equipment/inventory/equipment/

At that URL, each entry has an owner on the right side. Clicking that hyperlink is supposed to take you to person detail page, currently takes you nowhere.

[2017-12-15 23:32] Elijahwalkerwest opened #216 "Cancelling from Create instrument output variable at a given site re-directs improperly."
Go to http://django.uwrl.usu.edu/equipment/sites/site-detail/27/
Click New Deployment Measured Variable
Click cancel.

instead of returning you to the site details page, it returns you to http://django.uwrl.usu.edu/equipment/inventory/sensor-output-variables/

[2017-12-20 19:38] Elijahwalkerwest commented on #216
from a site's site-visits page:
1- click "new site visit" to open "Create Site Visit" page
2- click "cancel"
3- the app reloads http://django.uwrl.usu.edu/equipment/actions/create-site-visit/29/
I'd expect this to go back to the site-visits page

the same failure to cancel happens from the generic "Create Site Visit" page

This behavior might be from the same template. Will make new issue if that

[2017-12-20 20:53] Elijahwalkerwest opened #217 "500 error at create deployments/calibration/other-action"
Trying to create new deployment, calibration, or other action gives a 500 error. (Anything using the other-action-form)

[2017-12-20 22:38] Elijahwalkerwest commented on #217
Found problem. Looks like there are Site-visits in the database that lack a feature action.

So in forms.py when it tries to access that feature action at line ~141:
sampling_feature_code = obj.featureaction.first().samplingfeatureid.samplingfeaturecode

It returns list out of range, since there IS no feature action.

Waiting on Amber to look at data, will employ workaround on her go ahead.

[2017-12-21 00:31] Elijahwalkerwest commented on #217
Workaround deployed, ready for testing.

[2017-12-21 00:31] Elijahwalkerwest commented on #216
Deployed, ready for testing.

[2017-12-22 13:04] AmberSJones commented on #210
@Elijahwalkerwest have the remaining issues in this thread been addressed?

[2017-12-22 18:17] Elijahwalkerwest commented on #210
They should be yes. These issues were an artifact of the bad data. This is ready for testing.

[2017-12-29 00:58] Elijahwalkerwest commented on #215
Feature added with pull #219. Deployed and ready for testing.

[2017-12-29 01:36] Elijahwalkerwest commented on #216
Added quick fix. I had overlooked the equipment detail page.

[2017-12-29 01:46] Elijahwalkerwest commented on #215
After testing found issue also with deployments. Searching now for other possible areas this exists.

[2017-12-29 02:14] Elijahwalkerwest opened #222 "Issue creating retrieval"
MultiValueDictKeyError at /actions/create-retrieval/

When trying to get retreival getting 500 with this error.

[2017-12-29 02:20] Elijahwalkerwest commented on #215
Found a bunch of pages that needed to be tweaked or fixed to reflect new functionality. Please reference pull request #223 to see specifics.

[2017-12-29 02:32] Elijahwalkerwest commented on #222
Fixed in pull request #224

Deployed to sandbox as well, closing.

[2017-12-29 02:32] #222 closed, assigned to Elijahwalkerwest

[2017-12-29 02:36] Elijahwalkerwest commented on #217
Tested on sandbox. good to go. Closing

[2017-12-29 02:36] #217 closed, assigned to Elijahwalkerwest

[2017-12-29 02:37] Elijahwalkerwest commented on #216
Tested on sandbox. This issue is resolved.

[2017-12-29 02:37] #216 closed, assigned to Elijahwalkerwest

[2017-12-29 02:37] Elijahwalkerwest commented on #215
Issue fix deployed to sandbox, tested and resolved. Closing now.

[2017-12-29 02:37] #215 closed, assigned to Elijahwalkerwest

[2017-12-29 02:38] Elijahwalkerwest commented on #210
Tested on sandbox. It appears I was correct, and this was an artifact of the corrupted data Juan and I fixed. This is now resolved. Closing.

[2017-12-29 02:38] #210 closed

[2018-01-09 21:30] Elijahwalkerwest opened #228 "Issue creating Site"
('23000', "[23000] [Microsoft][SQL Server Native Client 11.0][SQL Server]Cannot insert the value NULL into column 'SamplingFeatureUUID', table 'ODM2.ODM2.SamplingFeatures'; column does not allow nulls. INSERT fails. (515) (SQLExecDirectW); [01000] [Microsoft][SQL Server Native Client 11.0][SQL Server]The statement has been terminated. (3621)")

Error when trying to create site.

[2018-01-10 22:37] AmberSJones opened #229 "Create Site Not Functional"
500 - Internal server error when trying to create new site.

[2018-01-10 23:08] AmberSJones opened #230 "Issues creating multiple results"
Created a site visit with multiple new results. When I then try to edit the site visit, it only retains the first new result. The others are highlighted as problematic.

[2018-01-10 23:10] AmberSJones opened #231 "Editing a site visit causes issues"
I created a site visit with a number of nested actions. When I tried to edit the site visit by simply adding to the action descriptions and saving, I get 500 - internal server error. In reviewing the site visit - only the first action that I created is retained.

![image](https://user-images.githubusercontent.com/5023186/34800355-8f677c3c-f620-11e7-8d91-abe810a09b62.png)

[2018-01-10 23:11] AmberSJones opened #232 "Instrument Measured Variables for a deployment and associated results"
It’s unclear to my why the Instrument Measured Variables table is blank here. When a result is created, it should populate the instrument measured variables for that deployment - or this table should already be populated with the Instrument Measured Variables that can be measured by that instrument.

![image](https://user-images.githubusercontent.com/5023186/34800415-d4c2f55e-f620-11e7-9569-91f2b5

[2018-01-10 23:15] AmberSJones opened #233 "Person redirects incorrectly"
I try to edit a person. When I complete the editing by either saving or clicking “cancel”, it brings up the details page for a completely DIFFERENT person. The edits that I made to the original person record are retained correctly.

[2018-01-10 23:17] AmberSJones opened #234 "Problem creating person"
I created a person and then got this result. This has not been happening in every case. And when I look at the list of People, the person that I created is in the list.

![image](https://user-images.githubusercontent.com/5023186/34800552-8d69580a-f621-11e7-8985-6dacebb7d070.png)

[2018-01-10 23:18] AmberSJones opened #235 "URL structure for people"
Should re-organization be done to remove “people” from “vocabularies”? See what I mean in this path: http://django.uwrl.usu.edu/equipment/vocabularies/person-detail/13/

[2018-01-10 23:23] AmberSJones opened #236 "Preselect equipment when action created from equipment details page"
When creating a new action accessed via the equipment details page, the details on that equipment should be automatically populated on the associated form. For example: I click on “Calibration History” then on “New Calibration”. The equipment should be pre-selected.

![image](https://user-images.githubusercontent.com/5023186/34800737-64d823ca-f622-11e7-99b3-ac00547250a7.png)
![image](https://user-

[2018-01-10 23:28] AmberSJones opened #237 "Error when editing action"
I add a calibration action to an existing site visit. Seems fine. I then click “Edit Calibration Description”. I make an edit and click save. I get this error. When I access the site visit, the edit does actually proceed, however.

![image](https://user-images.githubusercontent.com/5023186/34800899-14161ee6-f623-11e7-8ac2-ef3c899c5be5.png)

[2018-01-10 23:37] AmberSJones opened #238 "Issues when deleting actions"
I add a calibration action to an existing site visit. Seems fine. I then click “Edit Calibration Description”. I make an edit and click save. I get an error (1st image). Similar behavior if I delete an action of type deployment (2nd image). In both cases, deletion does actually occur.

![image](https://user-images.githubusercontent.com/5023186/34801124-26838374-f624-11e7-8c71-1b1cf456eca3.png)

![

[2018-01-10 23:38] AmberSJones opened #239 "Errors editing site visit"
I was making some edits to a site visit. Got this result. Note that this site visit does actually exist.

![image](https://user-images.githubusercontent.com/5023186/34801213-b214bf8e-f624-11e7-822a-d10b45e4b077.png)

[2018-01-10 23:42] AmberSJones opened #240 "Unable to add Results when creating a Deployment Action"
I’m trying to create a Deployment Action (not as a nested action). It does not permit me to add results. The button is there, but it doesn’t bring up any fields to complete.

![image](https://user-images.githubusercontent.com/5023186/34801305-2e2c3aca-f625-11e7-94ee-fee8b81be921.png)

[2018-01-10 23:53] AmberSJones opened #241 "Unable to create calibration standard"
I attempt to create a calibration standard. I get an error. In this case, the entry was not actually created.
![image](https://user-images.githubusercontent.com/5023186/34801607-d39f3a6a-f626-11e7-861a-d01a7ad4fdda.png)

[2018-01-11 00:05] AmberSJones opened #242 "Methods url - reorganized"
Should the methods location be reorganized? It seems mighty strange that it is considered calibration methods and that it is under the calibration tab (which we don't even have anymore).

http://django.uwrl.usu.edu/equipment/actions/calibration-methods/?tab=calibration

[2018-01-11 00:16] AmberSJones opened #243 "Unable to create retrieval"
I tried to retrieve equipment. Got an error.

![image](https://user-images.githubusercontent.com/5023186/34802256-edc37d9a-f629-11e7-8de1-206eb2f2bbbd.png)

[2018-01-11 13:37] AmberSJones opened #244 "Issues with Results"
I created a site visit with an instrument deployment with some results. When I later edit the site visit, the displayed results are different than the ones that I created.
Here's what is should be:
![image](https://user-images.githubusercontent.com/5023186/34828059-7ec15014-f699-11e7-9beb-b793b29c09de.png)
Here's what appears when I edit:
![image](https://user-images.githubusercontent.com/5023186/

[2018-01-11 13:45] AmberSJones opened #245 "Issue with Retrieval Nested Action"
I create a site visit with 2 nested actions: a deployment and a retrieval. The I then click "Edit Site Visit". I get an error. When I go back to the Site Visit page, the retrieval is gone. When I dig deeper and investigate that retrieval, it is saved. But it does not appear as expected as associated with the site visit.

[2018-01-11 13:47] AmberSJones opened #246 "Need to be able to create retrievals from the Site Visit page"
On the site visit page, I can add new Calibrations, Deployments, and Other Actions. When I try to use "Add Another Action" to add a retrieval, I am unable to as Retrievals are not one of the Action types permitted for selection. This should be added.

[2018-01-11 14:18] AmberSJones opened #247 "Unable to create site visit with nested actions"
I attempt to create a site visit with a deployment action, two field activity actions, and three retrieval actions. When I click "Create", the site returns to the create site visit form. The site visit is not created. When I remove some of the retrievals from the action, the site visit creation can occur. Then it permits me to add the retrievals.

[2018-01-11 14:29] AmberSJones opened #248 "Ghost site visits created"
As I am trying to create site visits (and having issues doing so), I notice that the successfullly created actions have IDs of 950 and 957.

![image](https://user-images.githubusercontent.com/5023186/34830387-edfe7cac-f6a0-11e7-8db3-33f57606fe05.png)
![image](https://user-images.githubusercontent.com/5023186/34830404-f8e289ce-f6a0-11e7-9bc0-c3cfe0089659.png)

So I type into the URL for action IDs

[2018-01-16 00:53] Elijahwalkerwest commented on #231
Working on this. It's looking like there's an issue with its interaction with the database somehow, rather than explicitly in the code. The error for this specific issue seems to be when it calls delete on a result, it gives Invalid object name 'ODM2.sensordatainterface_measurementresult

Doing some investigating it looks like quite a few of these issues are stemming from the same place, I've been

[2018-01-16 01:01] Elijahwalkerwest commented on #248
Been testing with this. I see the site visits you're mentioning but have been unable to replicate this behavior. Each site-visit I create seems fine. 971, then 972. So far no ghost visits. Any more details on getting this to happen?

[2018-01-16 01:27] Elijahwalkerwest commented on #247
Narrowing this down some. This behavior seems linked to Instrument Revrieval rather than nested actions. Any time your action is instrument retrieval it breaks.

[2018-01-17 19:31] Elijahwalkerwest commented on #229
Looks like it isn't properly generating the UUID, and is trying to insert  NULL in to the table...

[2018-01-27 03:36] Elijahwalkerwest commented on #240
Fixed and deployed to sandbox.

[2018-01-27 03:52] Elijahwalkerwest commented on #233
Working on this one now. Need to re-structure the person views to work with person_id's instead of affiliation_id's

[2018-01-27 04:15] Elijahwalkerwest commented on #233
Fixed and deployed.

Side note, this also fixed deleting people.

[2018-01-27 04:16] Elijahwalkerwest commented on #234
Resolved with commit #250 This is deployed and ready for testing.

[2018-01-27 04:16] Elijahwalkerwest commented on #244
Working on this one now.

[2018-01-29 20:42] Elijahwalkerwest commented on #231
Looks like the MeasurementResult Model was messed up, and was causing 500 errors whenever trying to delete a result anywhere on the site. Fixed and deployed.

[2018-01-29 20:43] Elijahwalkerwest opened #252 "edit_site_visit creating ghost results when a required field isn't present when updating"
If you either create a site visit or edit one and have an instrument deployment, and fail to fill out required fields, it will add a ghost result that you can't delete, which will then break the update.

[2018-02-27 01:27] Elijahwalkerwest commented on #243
Should be resolved and ready for testing.

[2018-02-27 01:28] Elijahwalkerwest commented on #230
Should be fixed and ready for testing.

[2018-02-27 01:30] Elijahwalkerwest commented on #247
Should be ready for testing.

[2018-02-27 01:32] Elijahwalkerwest commented on #244
Should be resolved and ready for testing.

[2018-02-27 03:42] Elijahwalkerwest commented on #241
Fixed, KIND OF.

You can now create calibration standards, but datatables is throwing an error, but not affecting the creation. Working on that now.

[2018-02-27 05:00] Elijahwalkerwest commented on #241
The error is due to there being a ghost entry in Calibration standards. Once I sync back to the clean DB this shouldn't be a problem. Tested creating standards in different ways, was unable to replicate creating a ghost standard. It must have been created when I was messing around with the initial fix.

[2018-02-27 05:48] Elijahwalkerwest commented on #246
Fixed!

[2018-02-27 05:49] Elijahwalkerwest commented on #245
Should be fixed, please test!

[2018-02-27 05:50] Elijahwalkerwest commented on #239
I made some changes to the edit site visit. I'm not sure what steps or edits were done to cause this, but I haven't run in to any issues editing site visits since my fixes. Try testing again and letting me know!

[2018-02-27 06:07] Elijahwalkerwest commented on #238
Fixed, just need to merge and deploy.

[2018-02-27 06:08] Elijahwalkerwest commented on #237
Fixed alongside #238

Need to merge and deploy.

[2018-02-27 07:23] Elijahwalkerwest commented on #229
Got it.

[2018-02-27 07:26] Elijahwalkerwest commented on #229
Resolved and ready to test on sandbox.

[2018-02-27 07:26] Elijahwalkerwest commented on #246
Deployed and ready to test.

[2018-02-27 07:26] Elijahwalkerwest commented on #238
Deployed and ready for testing.

[2018-02-27 07:27] Elijahwalkerwest commented on #237
Deployed and ready for testing.

[2018-02-27 07:27] Elijahwalkerwest commented on #228
Duplicate of #229

Resolved in that thread.

[2018-02-27 07:27] #228 closed, assigned to nobody

[2018-02-27 07:30] Elijahwalkerwest commented on #232
PLease provide specific deployment ID. Every deployment I've checked so far that table is populated correctly.

[2018-02-27 19:01] #229 closed, assigned to Elijahwalkerwest

[2018-02-27 20:00] #233 closed, assigned to Elijahwalkerwest

[2018-02-27 20:02] #234 closed, assigned to Elijahwalkerwest

[2018-02-27 20:08] AmberSJones commented on #241
Closing - assuming the error being thrown will be handled.

[2018-02-27 20:08] #241 closed, assigned to Elijahwalkerwest

[2018-02-27 21:13] AmberSJones commented on #230
Still having issues with Creating a site visit with multiple new results.

[2018-02-27 21:19] AmberSJones commented on #231
This appears to be addressed. Closing.

[2018-02-27 21:19] #231 closed, assigned to Elijahwalkerwest

[2018-02-27 21:22] AmberSJones commented on #237
Still getting an error when I attempt to do this. In this case, the error came when adding the calibration action. When I later view the Site Visit details page, the calibration has been added. This *could* be related to calibration standards because the calibration standards that I entered did not show up as reference material.
 http://django.uwrl.usu.edu/equipment/actions/edit-site-visit/1042/
!

[2018-02-27 21:32] AmberSJones commented on #238
Experiencing the exact same behavior.

[2018-02-27 21:54] AmberSJones commented on #239
Still getting an error for this. Try just entering this url.
http://django.uwrl.usu.edu/equipment/actions/edit-site-visit/97/
Site visit does exist:
http://django.uwrl.usu.edu/equipment/actions/visit-detail/97/

[2018-02-27 21:56] AmberSJones commented on #240
This specific issue is addressed (though another is identified... will start new issue). Closing.

[2018-02-27 21:56] #240 closed, assigned to Elijahwalkerwest

[2018-02-27 21:58] AmberSJones commented on #243
Still getting an error when trying to retrieve.
![image](https://user-images.githubusercontent.com/5023186/36757421-b9e77998-1bce-11e8-89f0-bf3c90e069b0.png)

[2018-02-27 22:14] AmberSJones commented on #244
Now when I try to update the Deployment Action, I cannot see the Results at all.
Here is the details page:
http://django.uwrl.usu.edu/equipment/actions/deployment-detail/948/
![image](https://user-images.githubusercontent.com/5023186/36758159-cedf9770-1bd0-11e8-85ce-3ba54cc0c13a.png)

Here is the edit page:
http://django.uwrl.usu.edu/equipment/actions/create-action/EquipmentDeployment/948/
![image

[2018-02-27 22:19] AmberSJones commented on #245
I cannot test this yet because I cannot currently create the Site Visit with these types of nested actions.

[2018-02-27 22:21] AmberSJones commented on #246
Retrievals still do not appear in the list of Action Types.

![image](https://user-images.githubusercontent.com/5023186/36758493-ddc1192a-1bd1-11e8-94d4-fb0f68be585f.png)

[2018-02-27 22:24] AmberSJones commented on #247
I am still experiencing this issue - with consistency. Here is an example with multiple screen shots. Note that the equipment that I selected for deployment and the associated results came back blank from what I had populated.

![image](https://user-images.githubusercontent.com/5023186/36758619-3a8b8e06-1bd2-11e8-9bfe-c7089f287ee7.png)
![image](https://user-images.githubusercontent.com/5023186/367

[2018-02-27 22:25] Elijahwalkerwest commented on #246
Product of me forgeting to collectstatic. Will be resolved when thats done.

[2018-02-27 22:29] AmberSJones commented on #230
I'm actually going to close this one. I think this specific issue is addressed, but there are others documented in other issues.

[2018-02-27 22:29] #230 closed, assigned to Elijahwalkerwest

[2018-02-27 22:35] AmberSJones commented on #244
Similar to the very original issue, for a site visit, the Results are correct, but then when editing the Site Visit, the equipment is not populated and the Instrument Output Variables are incorrectly populated. The Units, Processing Level, and Sampled Medium are correct.
http://django.uwrl.usu.edu/equipment/actions/create-site-visit/summary/1039/
![image](https://user-images.githubusercontent.com/

[2018-02-27 22:40] AmberSJones opened #257 "Update Deployment Action does not include relevant details"
Here's a deployment I created. When I try to edit it, the equipment is not selected nor are the results included.
http://django.uwrl.usu.edu/equipment/actions/deployment-detail/1051/
![image](https://user-images.githubusercontent.com/5023186/36759345-44b2d798-1bd4-11e8-8553-ced0bf09a691.png)

http://django.uwrl.usu.edu/equipment/actions/create-action/EquipmentDeployment/1051/
![image](https://user

[2018-02-28 00:14] AmberSJones commented on #232
Here is the link to the screenshot that I posted. I haven't made a thorough search.
http://django.uwrl.usu.edu/equipment/actions/deployment-detail/524/

[2018-02-28 00:18] AmberSJones commented on #248
This occurred for me again today. I think any time a site visit is attempted that doesn't go through, it creates a "ghost" by taking that ID. The two successful site visits that I created today have IDs of 1039 and 1042. There were probably 2 that failed in between them. I notice that prior to those two site visits, the next two previous have IDs of 1029 and 1031, which @Elijahwalkerwest created.

[2018-02-28 00:27] AmberSJones opened #258 "Person Details shows email in address field"
Screenshot says it all:
![image](https://user-images.githubusercontent.com/5023186/36763024-7860046c-1be3-11e8-959a-c6598fa77d83.png)

[2018-03-01 02:09] Elijahwalkerwest commented on #257
Resolved with sandbox updates.

[2018-03-01 02:10] Elijahwalkerwest commented on #257
However results are still not included, give me a minute.

[2018-03-01 02:19] Elijahwalkerwest commented on #257
Currently it's not designed to populate Results in editing deployment, since it assumes you are editing details about the deployment, rather than its results.

Would you like me to change this?

[2018-03-01 02:20] Elijahwalkerwest commented on #246
Update done, ready for testing.

[2018-03-01 03:08] Elijahwalkerwest commented on #244
Fixed, but not pushed yet. Whoever designed the edit site visit didn't understand the database. And instrument output variable id != variable id Will push tomorrow.

[2018-03-01 22:10] Elijahwalkerwest commented on #237
Should be fixed on sandbox now!

[2018-03-06 19:08] AmberSJones commented on #237
Ok, this appears to be functional now, but I think we have some artifacts where existing actions were left with some sort of issue. See below for trying to edit this site visit and the corresponding calibration. But I created a new calibration on this site visit and it worked great.
http://django.uwrl.usu.edu/equipment/actions/edit-site-visit/1042/
![image](https://user-images.githubusercontent.co

[2018-03-06 19:15] AmberSJones commented on #246
This is addressed.

[2018-03-06 19:15] #246 closed, assigned to Elijahwalkerwest

[2018-03-06 19:17] AmberSJones commented on #243
Yep, still occurring.

[2018-03-06 19:30] AmberSJones commented on #257
Yes, we need to be able to edit the Results in this case.

There is also a problem in which I am editing (not creating) a site visit and attempting to add a deployment and Results are not available to add.

[2018-03-06 19:54] AmberSJones commented on #244
This appears to be functional - except for this issues. When editing the site visit, I can successfully view and edit the Results - and the correct Results are listed. However, there is an erroneous warning.
![image](https://user-images.githubusercontent.com/5023186/37054883-6845461e-213d-11e8-9d88-107158e571ea.png)

[2018-03-06 20:06] AmberSJones commented on #245
Looks to be addressed.

[2018-03-06 20:06] #245 closed, assigned to Elijahwalkerwest

[2018-03-06 20:30] AmberSJones commented on #247
Ok- the site visit creates successfully! But then, I cannot edit it at all.
http://django.uwrl.usu.edu/equipment/actions/edit-site-visit/1066/
![image](https://user-images.githubusercontent.com/5023186/37056738-82c8943c-2142-11e8-9834-661e77edbb7e.png)

[2018-03-06 20:32] #258 closed, assigned to Elijahwalkerwest

[2018-03-06 20:34] AmberSJones opened #262 "Issue Creating Site Visit"
In my testing today, I was mostly successful in creating site visits. However, there was one occasion when the site visit did not create. I had attempted to add a calibration and two field activities.

![image](https://user-images.githubusercontent.com/5023186/37056910-f9b5b412-2142-11e8-8afc-d72c0151b824.png)

[2018-03-06 22:39] AmberSJones commented on #232
These may just not be populated. Please check @Elijahwalkerwest . Here's another few - all from the same site.
http://django.uwrl.usu.edu/equipment/actions/deployment-detail/523/
http://django.uwrl.usu.edu/equipment/actions/deployment-detail/525/

[2018-03-09 20:11] Elijahwalkerwest commented on #238
This should be fixed after sandbox fixes. Testing it on sandbox now and it seems to be working. Closing.

[2018-03-09 20:11] #238 closed, assigned to Elijahwalkerwest

[2018-03-09 22:52] Elijahwalkerwest commented on #237
Looking in to this and there is a lot of strange behavior. I can't find anything creating these anymore, but it looks like actions being deleted without their related actions being deleted. So the Site Visit tried to check its related actions and fails. I'll work on a script for this.

[2018-03-09 22:53] Elijahwalkerwest commented on #237
However this is now a different issue, we should create a new issue and close this one.

[2018-03-09 23:06] Elijahwalkerwest commented on #237
Sc-sc-scratch that.

It looks like some calibrations were created as Action objects, but not CalibrationActions

So when it tries to explicitly query the related action via the CalibrationAction table, it can't find it.

[2018-03-09 23:06] Elijahwalkerwest commented on #239
Same issue as #237

[2018-03-09 23:55] Elijahwalkerwest commented on #237
Yeah, I added some stuff to action deletion to make sure it doesn't happen again. It looks like this data is bad, i.e. you were trying to edit an action with an ID of 1047, that while there was a valid Action object, there was no CalibrationAction.

This is something Juan's script fixed, or should have fixed. EIther it didn't fix it in the first place, or there is something breaking it. Looking in

[2018-03-09 23:59] Elijahwalkerwest commented on #237
Looking at the fix_data script it looks like this corner case was missed. Updating it now.

[2018-03-10 00:21] Elijahwalkerwest commented on #243
Resolved. Sorry, retrieve from deployment and create retrieval pass in two different variables, and I hadn't accounted for that. Fixed and pushing.

[2018-03-10 00:26] Elijahwalkerwest commented on #244
Resolved and pushed.

[2018-03-10 00:26] Elijahwalkerwest commented on #243
Fixed and pushed.

[2018-03-13 23:15] Elijahwalkerwest commented on #247
This should actually be resolved as of my changes today. Merging and deploying now

[2018-03-13 23:17] Elijahwalkerwest commented on #247
Deployed and ready for testing.

[2018-03-13 23:19] Elijahwalkerwest commented on #239
Closing this as issue is being tracked in #237

[2018-03-13 23:19] #239 closed, assigned to Elijahwalkerwest

[2018-03-13 23:41] Elijahwalkerwest commented on #232
After looking in to this, there's nothing broken here. Those equipment models simply don't have any Output variables created for them yet. I created a test one for
http://django.uwrl.usu.edu/equipment/actions/deployment-detail/524/

However it seems there is no way to deleted an instrumentoutputvariable, nor does the model details page show variables for a given model.

I assume these are features

[2018-03-20 02:59] Elijahwalkerwest commented on #262
Haven't been able to re-create this. can you provide details about what the field activities were?

[2018-03-20 04:15] Elijahwalkerwest commented on #257
Alright, have a solution to this. It involved re-designing some things,  but it should work real happy now.

[2018-03-20 20:07] AmberSJones commented on #247
Functional. Hooray!

[2018-03-20 20:07] #247 closed, assigned to Elijahwalkerwest

[2018-03-20 20:39] AmberSJones commented on #232
Yes, let's add both the view of InstrumentOutputVariables on the EquipmentModel page as well as the ability to add and delete InstrumentOutputVariable from the EquipmentModel page.

[2018-03-20 20:54] AmberSJones commented on #243
Still having trouble when trying to retrieve from the deployment.
![image](https://user-images.githubusercontent.com/5023186/37682149-5820fec4-2c4e-11e8-96c0-2d275aab7da3.png)

[2018-03-23 00:27] Elijahwalkerwest opened #266 "Issue adding and updating results"
Was unable to add further results past the first.

Resolved in PR #265

[2018-03-23 00:28] Elijahwalkerwest opened #267 "Results for nested actions not appearing"
Any nested actions would not show the results table, and would not allow you to add it.

Resolved in PR #265

[2018-03-23 00:29] Elijahwalkerwest opened #268 "Instrument Deployment actions past the first would not filter properly."
No filtering based on equipment used on actions past the first.

Resolved in PR #265

[2018-03-23 00:30] Elijahwalkerwest opened #269 "Instrument OUtput variable allowed to be blank, and would delete result if submitted as such."
The form never required Instrument Output Variable (Even though the Javascript side did) meaning you could submit with nothing in that field. This would cause the result to be deleted entirely.

Resolved in PR #265

[2018-03-23 00:31] Elijahwalkerwest commented on #257
Deployed and ready for testing via PR #265

[2018-03-23 01:01] Elijahwalkerwest opened #270 "Site visit not being populate when retrieving from deployment."
When retrieving from deployment details, it doesn't auto-populate the site visit. This is problematic.

Have solution, haven't pushed yet.

[2018-03-23 01:09] Elijahwalkerwest commented on #270
Deployed.

[2018-03-23 01:09] Elijahwalkerwest commented on #269
Deployed.

[2018-03-23 01:09] Elijahwalkerwest commented on #268
Deployed and ready to test!

[2018-03-23 01:09] Elijahwalkerwest commented on #267
Deployed and ready to test!

[2018-03-23 01:10] Elijahwalkerwest commented on #266
Deployed and ready to test!

[2018-03-23 01:10] Elijahwalkerwest commented on #257
Deployed and ready to test!

[2018-03-23 01:10] Elijahwalkerwest commented on #252
Deployed and ready for testing!

[2018-03-23 01:11] Elijahwalkerwest commented on #244
Deployed and ready for testing!

[2018-03-23 01:11] Elijahwalkerwest commented on #243
Deployed and ready for testing!

[2018-03-28 15:42] AmberSJones commented on #270
I actually don't think we want it to auto-populate the site visit. If it does, it populates with the same site visit for which the deployment occurred - which is not likely to be when the retrieval occurred. What would be helpful, though, is to ensure that the site visit selected for retrieval has a DateTime that is AFTER the DateTime of the site visit associated with the deployment.

[2018-03-28 15:47] AmberSJones opened #272 "Error when trying to retrieve from Deployment Details"
I am sometimes encountering an error when trying to retrieve from the deployment details page. This is not consistent - I'm not sure if there is something wrong with these deployments?
http://django.uwrl.usu.edu/equipment/actions/create-retrieval/from_deployment/1064/
![image](https://user-images.githubusercontent.com/5023186/38040351-916cd1a2-326c-11e8-86dc-8fb297ec9d62.png)
http://django.uwrl.us

[2018-03-28 15:50] AmberSJones opened #273 "Unable to Add Results"
I am trying to create an instrument deployment. I expect the option to add Results to show up, but it is nowhere to be seen.
![image](https://user-images.githubusercontent.com/5023186/38040777-7b031510-326d-11e8-946f-0c46a803c97c.png)

[2018-03-28 15:51] AmberSJones commented on #269
Cannot test this because I cannot add results currently.

[2018-03-28 15:52] AmberSJones commented on #268
I need more information on what to test for this issue.

[2018-03-28 15:54] AmberSJones commented on #267
Unsure what to test here. I would not expect to see nested actions in the Results table, nor to see Results in the nested actions table?

[2018-03-28 15:55] AmberSJones commented on #266
Cannot test because cannot currently add results.

[2018-03-28 16:07] AmberSJones commented on #257
The equipment is now selected, but there is nothing regarding results displayed.
![image](https://user-images.githubusercontent.com/5023186/38041754-ce79dd62-326f-11e8-907b-77ce3afa0243.png)

[2018-03-28 16:36] AmberSJones commented on #252
I'm not sure if this is directly related, but in trying to test this issue, I'm experiencing errors creating/editing site visits. These cases included instrument deployment actions with some results as well as an equipment deployment and a few other actions.

![image](https://user-images.githubusercontent.com/5023186/38043258-db031982-3273-11e8-80b9-2c3a88d26917.png)

![image](https://user-images.

[2018-03-28 16:45] AmberSJones commented on #273
Now I have seen some cases where I am able to add Results. It is totally inconsistent. In the below screenshot, the first Instrument Deployment Action does not have Results, but the second Instrument Deployment Action does.
![image](https://user-images.githubusercontent.com/5023186/38043695-108d27cc-3275-11e8-94b2-662ab799eb73.png)

[2018-03-28 16:45] AmberSJones commented on #252
I think the above issue is something different. This appears to be addressed.

[2018-03-28 16:45] #252 closed, assigned to Elijahwalkerwest

[2018-03-28 16:47] AmberSJones opened #274 "Unable to Create/Edit Site Visit that Includes Instrument Deployment"
I'm not sure if this is directly related, but in trying to test this issue, I'm experiencing errors creating/editing site visits. These cases included instrument deployment actions with some results as well as an equipment deployment and a few other actions.

image
![image](https://user-images.githubusercontent.com/5023186/38043834-5c51ce6a-3275-11e8-9f3e-16125f7569be.png)
![image](https://user-im

[2018-03-28 16:57] AmberSJones commented on #244
Ok, I think this is addressed.

[2018-03-28 17:07] AmberSJones commented on #244
Ok - i think this is addressed.

[2018-03-28 17:07] #244 closed, assigned to Elijahwalkerwest

[2018-03-28 17:10] AmberSJones commented on #243
I just started a new issue indicating that sometimes Retrievals are not working, so I will close this issue.

[2018-03-28 19:46] Elijahwalkerwest commented on #257
Sigh, small dumb mistake, capitalized a word that wasn't supposed to be, fixed and pushing soon.

[2018-03-28 19:50] Elijahwalkerwest commented on #268
Sorry, to clarify, if a site visit has multiple instrument deployments, only the first one would filter the instrument output variables based on what equipment you selected.

[2018-03-28 19:50] #243 closed, assigned to Elijahwalkerwest

[2018-03-28 19:54] Elijahwalkerwest commented on #270
Sounds good, changing this behavior, will push soon.

[2018-03-28 20:14] Elijahwalkerwest commented on #273
Got it resolved. I missed this case in my testing, will push shortly.

[2018-03-28 20:21] #268 closed, assigned to Elijahwalkerwest

[2018-03-28 20:24] AmberSJones commented on #273
The original behavior is addressed, but now we have extra results blocks being added to instrument deployment action creation under a site visit.
![image](https://user-images.githubusercontent.com/5023186/38054291-c0f90cfc-3293-11e8-8fe0-f4391803e7a1.png)

[2018-03-28 20:28] AmberSJones commented on #269
Currently giving error.

Editing site visit to set IOV to blank (which it shouldn't be):
![image](https://user-images.githubusercontent.com/5023186/38054436-3141d76e-3294-11e8-96ac-2456eb0c479d.png)

![image](https://user-images.githubusercontent.com/5023186/38054411-1ea094f6-3294-11e8-8985-d19eddd4baa2.png)

[2018-03-28 21:49] Elijahwalkerwest commented on #269
Resolved. Had to re-design how it got the data from the form and populated it. Much cleaner now! Will push soon.

[2018-03-28 22:43] Elijahwalkerwest commented on #267
To clarify, I meant results table would not populate for any action past the first in a site visit form.

[2018-03-28 22:45] Elijahwalkerwest commented on #273
Fixed, pushing soon.

[2018-03-28 22:48] Elijahwalkerwest commented on #273
Ready to test.

[2018-03-28 22:48] Elijahwalkerwest commented on #274
Ready to test

[2018-03-28 22:48] Elijahwalkerwest commented on #266
Ready to test

[2018-03-28 22:48] Elijahwalkerwest commented on #257
Ready to test

[2018-03-28 23:12] Elijahwalkerwest commented on #272
Yeah, it looks like there's a problem with the deployment. Other retrievals work, it looks like no results were created for those deployments somehow.

[2018-03-29 22:18] AmberSJones commented on #257
This is addressed - except for one detail. For the third result, there are no units selected. There should be units pre-selected.

http://django.uwrl.usu.edu/equipment/actions/create-action/instrumentdeployment/1051/
![image](https://user-images.githubusercontent.com/5023186/38116316-c6c1e2ba-336c-11e8-8bf2-b7f3b1dc3141.png)

[2018-03-29 22:22] AmberSJones commented on #266
I think this is addressed.

[2018-03-29 22:22] #266 closed, assigned to Elijahwalkerwest

[2018-03-29 22:24] AmberSJones commented on #267
Ok - I think this is addressed.

[2018-03-29 22:24] #267 closed, assigned to Elijahwalkerwest

[2018-03-29 22:25] AmberSJones commented on #269
Still getting error on this.

[2018-03-29 22:26] AmberSJones commented on #270
Ok - I think this is ok, though there is no logic to ensure that the retrieval occurs after the deployment. How hard would that be to implement?

[2018-03-29 22:29] AmberSJones commented on #272
So ... no fix for this issue? Chalking it up to getting fixed when connecting to a "clean" database?

[2018-03-29 22:29] AmberSJones commented on #273
This is addressed.

[2018-03-29 22:29] #273 closed, assigned to Elijahwalkerwest

[2018-03-29 22:41] AmberSJones commented on #274
Appears to be addressed.

[2018-03-29 22:41] #274 closed, assigned to Elijahwalkerwest

[2018-03-29 22:59] Elijahwalkerwest commented on #270
Let me look in to it, and I will try and work this in with the next batch of merges.

[2018-03-29 23:41] Elijahwalkerwest commented on #257
I need to know how you created that result. It was created with the Unit "Percent" which is not a valid unit for that IOV. As far as I can see the filtering is working fine, and I have no idea how that result was created with that Unit.

[2018-03-29 23:44] Elijahwalkerwest commented on #257
I've been trying to re-create this and have been so far unable to. Any further details would be helpful.

[2018-03-29 23:51] Elijahwalkerwest commented on #269
Small oversight, I re-broke it when I fixed something else, got it fixed, pushing soon.

[2018-03-29 23:54] Elijahwalkerwest commented on #272
Looks like a bad bit of data where it sometime in the past had been created with two equipments associated with the one deployment. That shouldn't be allowed to happen anymore with some of the recent fixes, this is OK to close.

[2018-03-29 23:54] #272 closed, assigned to Elijahwalkerwest

[2018-03-29 23:55] Elijahwalkerwest commented on #257
It seems this is an artifact of old data. Perhaps at one time Percent was a valid unit for that Equipment Model, but no longer is, this is reflected by that not being populated.

Closing

[2018-03-29 23:55] #257 closed, assigned to Elijahwalkerwest

[2018-03-30 00:03] Elijahwalkerwest commented on #248
This is not ghost site visits being created.

These are other actions. Which is why they don't show up in the list of site visits.

All Actions create an Action object, and various other objects. So What's happening here is if you create a site visit (Say, action id 1) and that visit has two actions, these two actions will be created with id's 2, and 3.

Then the next site visit you create will ha

[2018-03-30 00:46] Elijahwalkerwest commented on #248
Resolved and ready to test. It should now properly display a 404 if you attempt to reference the wrong type of action from a given details URL.

I.E. http://django.uwrl.usu.edu/equipment/actions/visit-detail/1036/

Should now return a 404, instead of an empty site visit, since that ID is in fact an Instrument Calibration.

Likewise: http://django.uwrl.usu.edu/equipment/actions/calibration-detail/1

[2018-03-30 01:36] Elijahwalkerwest commented on #236
Feature added and pushed! Give it a test, let me know if it works how you're wanting it to!

[2018-03-30 21:34] AmberSJones commented on #236
This is working great for Calibration Actions. However, for Factory Service actions, there is no equipment preselected. For Deployment actions, there is an equipment preselected, but it is different from the original equipment.

[2018-03-30 21:58] AmberSJones commented on #248
Ok - this makes sense. Thanks for shedding some light. I haven't been able to completely verify it, but closing.

[2018-03-30 21:58] #248 closed, assigned to Elijahwalkerwest

[2018-03-30 22:29] AmberSJones opened #279 "New problem creating/editing site visits"
I have newly been unable to create or edit any site visits that contain any nested actions. Here are the details:
 - I can create a site visit with no nested actions, but when I try to add any, it fails.
 - I try to edit an existing site visit containing multiple nested actions. The edits fail - it just brings me back to the Edit Site Visit page.
 - I attempt to create a site visit with nested act

[2018-04-03 20:31] Elijahwalkerwest commented on #279
Should be ready for testing.

[2018-04-06 21:28] Elijahwalkerwest opened #282 "Altering Set up site visit to safely manage data."
Currently when you update or create a site visit, it deletes the data before re-creating it from the request. This is really bad data management.

This causes data to be deleted if for some reason it can't create the new object. Big problem.

So I am updating this view to manage data more responsibly.

[2018-04-06 21:29] Elijahwalkerwest opened #283 "When updating Site Visit, Instrument output variable not shown in summary for Instrument calibration"
When you have an Instrument Calibration, it won't show the IOV in the summary page of a site visit.

[2018-04-06 21:29] Elijahwalkerwest commented on #283
Sorry, to clarify, when creating or updating a site visit that includes an instrument calibration action.

[2018-04-09 22:48] AmberSJones commented on #270
This is unchanged, right?

[2018-04-09 22:49] Elijahwalkerwest commented on #270
Yes, sorry.

[2018-04-09 23:21] AmberSJones commented on #282
I'm not sure how to test this. @Elijahwalkerwest , you can give me some steps to walk through, or if you are convinced that it is addressed (by doing some testing of your own), you can close it.

[2018-04-09 23:41] AmberSJones commented on #283
Is this what you are referring to? The variable is displayed when editing, but not on the Calibration summary view.

![image](https://user-images.githubusercontent.com/5023186/38528480-2dfa6336-3c1d-11e8-8d49-2bd688d34372.png)

![image](https://user-images.githubusercontent.com/5023186/38528462-15486522-3c1d-11e8-8935-36ba3fb3025f.png)

[2018-04-09 23:51] AmberSJones commented on #269
I think this is addressed.

[2018-04-09 23:51] #269 closed, assigned to Elijahwalkerwest

[2018-04-16 21:13] Elijahwalkerwest commented on #283
In the calibration details as well as the summary after you finish editing. About to commit and push a fix for both.

[2018-04-16 22:30] Elijahwalkerwest opened #286 "Invalid form submission for "Create Retrieval from Deployment" problem"
When submitting an invalid form creating a retrieval from a deployment, it would fail to populate the deployment field properly.

[2018-04-24 16:54] Elijahwalkerwest commented on #236
Can we set this as a separate issue and close this one?

[2018-04-24 16:55] Elijahwalkerwest commented on #270
Logic to ensure retrieval occurs after deployment now exists.

[2018-04-30 12:39] AmberSJones commented on #286
I think this is resolved. The Deployment information in this form seems to persist correctly.

[2018-04-30 12:39] #286 closed, assigned to Elijahwalkerwest

[2018-04-30 12:50] AmberSJones commented on #283
This appears to be addressed.

[2018-04-30 12:50] #283 closed, assigned to Elijahwalkerwest

[2018-04-30 12:51] AmberSJones commented on #282
@Elijahwalkerwest ditto the previous comment.

[2018-04-30 13:36] AmberSJones commented on #279
Many of these cases are addressed. However, when editing a site visit, I cannot add additional nested actions that are calibrations, instrument deployments, instrument retrievals, or equipment retrievals. I am able to create those actions as part of a site visit initially, but only if they are the only action - i.e., I am successful with adding a single calibration to a site visit, but am unable t

[2018-04-30 13:42] AmberSJones commented on #270
I don't think this is performing as desired. It appears that the logic is there because when I select a site visit for retrieval that was prior to the deployment, I get an error, while if I select a site visit visit for retrieval that is after the deployment, it correctly retrieves. However, this behavior is not helpful or clear to the user. My preference is that the site visits prior to the deplo

[2018-04-30 14:25] AmberSJones commented on #237
What is the status of this issue? Is there anything still outstanding?

[2018-04-30 19:38] Elijahwalkerwest commented on #237
Let's keep it open. The behavior that caused the broken data is no longer present, but some of the bad data still exists and will do so until we run the script with my updates and clean it up. So either we can close this and make a new issue to that effect, or leave this one open.

[2018-04-30 19:43] Elijahwalkerwest commented on #270
I see! I will get on that right now.

[2018-04-30 19:44] Elijahwalkerwest commented on #282
Testing this involves intentionally breaking some code. I.E. making sure that if different parts of editing/creating site visits break, it doesn't break data. I'm testing this myself, I'll update and close when I feel more confident.

[2018-05-01 02:58] Elijahwalkerwest commented on #232
This is implemented. Right now however you need to go to the details of an IOV to delete it. Is that behavior acceptable? Or would you like it another way?

[2018-05-01 03:09] Elijahwalkerwest commented on #279
The problem has to do with Instrument Output Variables. This is the reason for re-designing using formsets, which is well on its way right now, and should resolve this problem.

[2018-05-01 17:04] AmberSJones commented on #232
I don't see where this appears on the Equipment Model page?

[2018-05-08 20:24] Elijahwalkerwest commented on #235
Fixed and should come with next push to sandbox this week.

[2018-05-08 20:29] Elijahwalkerwest commented on #242
Resolved, will be on sandbox with next push this week.

[2018-06-05 22:50] Elijahwalkerwest opened #289 "MultiValueDict Error when validating formsets"
When validating formsets, getting a multivaluedictkey error when trying to submit a site visit form.

Exception is 'equipmentused'

This also appears to only happen when not stepping through in debugger mode.

[2018-06-05 22:52] Elijahwalkerwest opened #290 "Error inserting Null in to "featureactionid' with multiple REsults"
When submitting a Site Visit Form with multiple results for an action, an error is returned stating that Null cannot be inserted in to 'Featureactionid'

I've moved data saving back to the set_up_site_visit function, and will just be pulling data from forms as it was done before, to try and remedy this.

[2018-06-13 21:14] Elijahwalkerwest opened #291 "SetOtherActions in common_forms needs to be updated."
Need to update setOtherActions function to take new form prefix in to account.

[2018-06-19 19:23] Elijahwalkerwest opened #292 "Creating Site Visits error: ManagementForm data is Missing"
When creating site visits getting 500 error, saying managementform data is missing or has been tampered with. Likely a problem with rendering the management form in one of the templates.

[2018-06-19 19:49] Elijahwalkerwest commented on #292
Update: Looks like it's an issue in dynamically adding forms via common_forms.js actually. Looking in to further.